<!-- Company Page -->  
<div class="box white" style="padding:5px;margin-top:2px;">      
	<div  style="text-align:center; margin:5px;">
    	<input type="search" class="tag-txt" id="my_company_search" onkeyup="searcInMyCompany(this.value)" style="width:200px;"/>      	       
	</div>     	               		
</div>          
        <div id="my_company">
						                   
		</div> 
		<div class="white box" id="load_more_mycompany" onclick="loadMoreMyCompanyContacts()">
		<p style="font-weight: bold; color:#c82372;" id="loadMoreMyCompanyContacts_p">Load more co-workers...</p></div>
		
