<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="events">
	<div class="scroller" id="scroller" style="overflow-y: scroll; height:100%;">
    	<h3>Events</h3>                                           
    	<!-- Main wrraper of events inside Nav Menu -->
        <div style="margin:5px;">
                                                          
                                                    <div class="box white" style="padding:5px;margin-top:2px;">
                                                             <div id="search"  style="margin-bottom:6px;">
                                                                <form  action="#" style="display:inline;" method="get">
                                                                 <!-- Search box for blogger by Namanyay Goel //-->
                                                                <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="Search..." value=""/>
                                                               <!-- <input id="namanyay-search-btn" value="Search" type="submit"/>-->
                                                                    </form>
                                                            </div>
                                                                
        
        <div class="clear"></div>
        <!-- Navigation Between events start-->
        <div class=" prof-navigation">
        <a href="#" onclick="$('#view-c-event').show(); $('#view-co-event').hide(); $('#view-f-event').hide();">Contacts</a>|
        <a href="#" onclick="$('#view-co-event').show(); $('#view-c-event').hide(); $('#view-f-event').hide();">Companies</a>|
        <a href="#" onclick="$('#view-f-event').show(); $('#view-co-event').hide(); $('#view-c-event').hide();">Favorite</a>
        </div> 
        <!-- Navigation Between events end-->
                            </div>
                            
                               			  <!-- View Contact Events start -->
                                          <div class="" id="view-c-event">
                                               <div class="member white" id="eventDetails">
                                                    <div class="left">
                                                    <a href="#">
                                                        <img class="photo-small" src="css/imgs/company_logo/apple.png" />
                                                    </a>
                                                    </div>
                                                    <div class="">
                                                    
                                                        <strong>Iphone 6 Launch</strong>
                                                        <p>Place<br/> Date</p>
                                                        
                                                        <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                        <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                        <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                        <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                                        <div class="clock">12:45</div>
                                                    </div>
                                                    
                                                    <div class="clear"></div>
                                                </div>
                                               <div class="member white">
                                              <div class="left">
                                                   <img class="photo-small" src="css/imgs/company_logo/pepsi.png" />
                                              </div>
                                              <div class="">
                                              
                                                  <strong>Pepsi Gathering</strong>
                                                  <p>Place <br /> Date</p>
                                                  <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                  <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                  <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                  <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                                  <div class="clock">12:45</div>
                                              </div>
                                                <div class="clear"></div>
                                              </div>
                                  	      </div>
                                          <!-- View Contact Events end --> 
                                                   
                                           <!-- Companies Event Start-->         
                                          <div class="" id="view-co-event" style="display:none;">
									          <div class="member white" onClick="$('#company-profz').toggle(); $('#company-contz').toggle();">
                                            <div class="left">
                                                        <img class="photo-small" src="css/imgs/company_logo/voda2.jpg" />
                                            </div>
                                            <div class="">
                                            <a href="#">
                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                            </a>
                                                <strong>Vodafone</strong>
                                                <p>Telecomunication Co...</p>
                                                <br />
                                                
                                                    <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                    <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                    <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                    <div class="clock"><span>HQ</span> 12:45</div>
                                               
                                            </div>
                                            
                                       
                             <div class="clear"></div>
                            </div>
                            				  <div class="box white" id="company-profz" style="display:none; margin-top:2px; margin-bottom:-6px;">
                               <p><a href="#" onclick="$('#company-infoz').slideToggle();">More Info....</a></p>
                               
                               <div class="company-info" id="company-infoz" style="display:none;">  
                                      <p>Telecommunication Company</p>                 
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum, mi rutrum commodo faucibus, velit orci viverra metus, quis ornare ipsum sem dignissim ligula. Vivamus nec eros sed orci imperdiet imperdiet. Fusce quam velit, accumsan id sapien non, tempor euismod tortor. Pellentesque quis dui neque. Nulla sit amet sapien vitae risus tempor mattis sed id massa. Nulla aliquet, ipsum ac vulputate vehicula, justo nisi egestas felis, pharetra venenatis purus massa at magna. Praesent in diam nec magna malesuada vehicula. </p>
                                      <hr />
                                    <div class="company-social">
                                    <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-instagram fa-lg"></i></a>
                                    <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-pinterest fa-lg"></i></a>     
                                    <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-youtube fa-lg"></i></a>
                                    <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-skype fa-lg"></i></a>
                                    <div class="clock">12:45</div>
                                    </div>
                                    <hr />
                                    <div class="clear"></div>
                                    <span>Address: <strong>Square 5, Smart Village 6th of october, Egypt.</strong></span>
                                    <a href="#" onclick="$('#branchesz').slideToggle();" class="flatBtn">More</a>
                                    </div>	
                                                                                
                                    <div id="branchesz" style="display:none;">
                                          <!-- Branch One -->
                                          <div class="branch">
                                          <!-- Name of Branch -->
                                          <span><strong>Egypt</strong><div class="clock-comp">12:45</div><br /></span>
                                          <div class="span-indent">
                                          <span>Smart Village</span><br />
                                          <span>Address: 6th of October</span><br />
                                          <span>Phone No:00000000</span><img src="css/imgs/icons/cards-call4.png" class="call-icon-branch" style="float:right;"/><hr />
                                                                                            
                                          <span>City Stars</span><br />
                                          <span>Address:<em>Omar Ebn El-Khattab ST,City stars mall-ground floor nasr city</em></span><br />
                                          <span>Phone No:00000000</span><img src="css/imgs/icons/cards-call4.png" class="call-icon-branch" style="float:right;"/><hr />
                                          <span>Maadi laselky</span><br />
                                           <span>Address:<em>3/2 St. Laselki - New Maadi</em></span><br />
                                                                                            <span>Phone No:00000000</span><img src="css/imgs/icons/cards-call4.png" class="call-icon-branch" style="float:right;"/><hr />
                                                                                            <span>Merghany</span><br />
                                                                                            <span>Address:<em>69 Merghany St.-Heliopolis, Cairo, Egypt.</em></span><br />
                                                                                            <span>Phone No:0000</span><img src="css/imgs/icons/cards-call4.png" class="call-icon-branch"/><br />
                                                                                        </div>
                                                                                  
                                                                                    </div> 
                                                                                    <!-- Branch Two -->
                                                                                    <div class="branch">
                                                                                        <!-- Name of Branch -->
                                                                                        <span><strong>Australia</strong><br /></span>
                                                                                        <div class="span-indent">
                                                                                                <span>Branch One Head Quarter</span><br />
                                                                                            <span>Address:</span>
                                                                                            <span>Phone No:</span><hr />
                                                                                                <span>Branch Two</span><br />
                                                                                            <span>Address:</span>
                                                                                            <span>Phone No:</span><hr />
                                                                                            
                                                                                              <span>Branch three</span><br />
                                                                                            <span>Address: Branch Three</span>
                                                                                            <span>Phone No:0000000</span><img src="css/imgs/icons/cards-call4.png" class="call-icon-branch"/><br />
                                                                                        </div>
                                                                                    </div> 
                                                                                    <!-- Branch Three -->
                                                                                    <div class="branch">
                                                                                        <!-- Name of Branch -->
                                                                                        <span><strong>UK</strong><br /></span>
                                                                                        <div class="span-indent">
                                                                                                <span>Branch One London Header Quarter</span><br />
                                                                                            <span>Address:Branch one Address</span>
                                                                                            <span>Phone No:000000</span><hr />
                                                                                                <span>Branch Two</span><br />
                                                                                            <span>Address:London Street</span>
                                                                                            <span>Phone No:00000000</span><hr />
                                                                                              <span>Branch Three</span><br />
                                                                                            <span>Address: Branch Three</span>
                                                                                            <span>Phone No:00000000</span><img src="css/imgs/icons/cards-call4.png" class="call-icon-branch"/><br />
                                                                                         
                                                                                        </div>
                                                                                  
                                                                                    </div>          
                                                                                </div>
                                                    
                                                           </div>
                                              <div class="" id="company-contz" style="display:none; margin-bottom:-2px;"> 
                                                                     <div class="line">
                                                                     </div>
                                                                        <div class="member white">
                                                                            <div class="left">
                                                                            <a href="javascript:menu('9');">
                                                                                <img class="photo-small" src="css/imgs/user/3.jpg" />
                                                                            </a>
                                                                            </div>
                                                                            <div class="">
                                                                            <a href="#">
                                                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                                                            </a>
                                                                                <strong>John Doe</strong>
                                                                                <p>Software Developer <br/> Cardsbond</p>
                                                                                
                                                                                <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                                                <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                                                <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                                                <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                                                                <div class="clock"><span>HQ</span> 12:45</div>
                                                                                
                                                                            </div>
                                                                            
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                        <div class="member white" onclick="$('#an-div').show(1000);" >
                                                                            <div class="left">
                                                    
                                                                                <img class="photo-small" src="css/imgs/user/manager.jpg" />
                                                                            </div>
                                                                            <div class="">
                                                                            <a href="#">
                                                                            <img src="css/imgs/icons/cards-call4.png" class="call-icon"/></a>
                                                                                <strong>Jane Daniels</strong>
                                                                                
                                                                                <p>Specialist <br /> vodafone</p>
                                                                                <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                                                <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                                                <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                                                <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                                                                <div class="clock">12:45</div>
                                                                            </div>
                                                                    
                                                                            <div class="clear"></div>
                                                                        </div>
                                                                        <div class="member-conf blue" id="an-div" style="display:none; margin-top:2px;" onclick="$('#an-div').hide(1000);">
                                                                            <form>
                                                                                <input type="submit" value="Share" class="mybutton" />
                                                                                <input type="submit" value="Remove" class="mybutton" />
                                                                            </form>
                                                                        </div>
                                                                </div>
                                              <div class="member white" onClick="$('#company-prof').toggle(); $('#company-cont').toggle();">
                                                                            <div class="left">
                                                                                        <img class="photo-small" src="css/imgs/company_logo/voda2.jpg" />
                                                                            </div>
                                                                            <div class="">
                                                                            <a href="#">
                                                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                                                            </a>
                                                                                <strong>Vodafone</strong>
                                                                                <p>Telecomunication Co...</p>
                                                                                <br />
                                                                                    <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                                                    <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                                                    <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                                                    <div class="clock"><span>HQ</span> 12:45</div>
                                                                            </div>
                                                                            
                                                                       
                                                             <div class="clear"></div>
                                                            </div>
                                              <div class="member white" onClick="$('#company-prof').toggle(); $('#company-cont').toggle();">
                                                                            <div class="left">
                                                                                        <img class="photo-small" src="css/imgs/company_logo/voda2.jpg" />
                                                                            </div>
                                                                            <div class="">
                                                                            <a href="#">
                                                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                                                            </a>
                                                                                <strong>Vodafone</strong>
                                                                                <p>Telecomunication Co...</p>
                                                                                <br />
                                                                                
                                                                                    <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                                                    <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                                                    <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                                                    <div class="clock"><span>HQ</span> 12:45</div>
                                                                                
                                                                            </div>
                                                                            
                                                                       
                                                             <div class="clear"></div>
                                                            </div>
                                             
                                          </div>
                                          <!-- Business event end-->
                                          
                                          <!-- View Favorite Events start-->
                                          <div class="" id="view-f-event" style="display:none;">
                                                        <div class="member white">
                                                            <div class="left">
                                                            <a href="javascript:menu('9');">
                                                                <img class="photo-small" src="css/imgs/user/3.jpg" />
                                                            </a>
                                                            </div>
                                                            <div class="">
                                                           <!-- <a href="#">
                                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                                            </a>-->
                                                                <strong>Baby Born</strong>
                                                                <p>Liza Celebration of Her new Baby<br/> Bayern Munich, Germany</p>
                                                            </div>
                                                            
                                                            <div class="clear"></div>
                                                        </div>
                                                        <div class="member white">
                                                            <div class="left">
                                                            <a href="javascript:menu('9');">
                                                                <img class="photo-small" src="css/imgs/user/2.jpg" />
                                                            </a>
                                                            </div>
                                                            <div class="">
                                                           <!-- <a href="#">
                                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                                            </a>-->
                                                                <strong>Antonio Farewell</strong>
                                                                <p>Antonio Will leave after 10 years<br/> Mont Carlo, US</p>
                                                            </div>
                                                            
                                                            <div class="clear"></div>
                                                        </div>
                                                      
                                          </div>
                                          <!-- View Favorite Events end-->        
                                            </div>
                                   </div>      
                    </nav>
                   <!--  Event Detials Div Start -->
                   <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="showevdet">
                           <div class="scroller" id="scroller" style="overflow-y: scroll; height:100%;">
                           <h3><i class="fa fa-reply" id="bkevents" style="font-size:18px;"></i>I-Phone 6 Launching</h3>
                                                            
                                                             <!-- Main wrraper of events inside Nav Menu -->
                                            <div style="margin:5px;">
                                                    <div class="member white" onClick="$('#event-info').toggle();">
                                                    <div class="left">
                                                        <a href="#">
                                                            <img class="photo-small" src="css/imgs/company_logo/apple.png" />
                                                        </a>
                                                    </div>
                                                    <div class="">
                                                    
                                                        <strong>Iphone 6 Launch</strong>
                                                        <p>Place<br/> Date</p>
                                                        
                                                        <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                        <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                        <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                        <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                                        <div class="clock">12:45</div>
                                                    </div>
                                                    
                                                    <div class="clear"></div>
                                                </div>   
                                            </div>
                                            <div style="margin:5px;">
                                                    <div class="member white" id="event-info" style="display:none;">
                                                            <h2>Test ! </h2>
                                                </div>
                                            </div>                 
                                        	<div style="margin:5px;">
                                                     <div class="box white" style="padding:5px;margin-top:2px;">
                                                        <div id="search"  style="margin-bottom:6px;">
                                                        <form  action="#" style="display:inline;" method="get">
                                                         <!-- Search box for blogger by Namanyay Goel //-->
                                                        <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="Search..." value=""/>
                                                       <!-- <input id="namanyay-search-btn" value="Search" type="submit"/>-->
                                                            </form>
                                                    </div>
                                                    <div class=" prof-navigation">
<a href="#" onclick="$('#view-family').show(); $('#view-business').hide(); $('#view-friend').hide();">Contacts</a>|
<a href="#" onclick="$('#view-business').show(); $('#view-friend').hide(); $('#view-family').hide();">Companies</a>|
<a href="#" onclick="$('#view-friend').show(); $('#view-business').hide(); $('#view-family').hide();">Favorite</a>
</div> 
                                                    
                    								</div>
                                            
                                          	<div class="" >
                                           	<div class="member white">
                                            <div class="left">
                                            <a href="#">
                                                <img class="photo-small" src="css/imgs/user/photodune-4220817.jpg" />
                                            </a>
                                            </div>
                                            <div class="">
                                            <a href="#">
                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/>
                                            </a>
                                                <strong>John Doe</strong>
                                                <p>Software Developer <br/> SAZ</p>
                                                
                                                <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                                <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                                <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                                <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                                <div class="clock">12:45</div>
                                                
                                            </div>
                                            
                                            <div class="clear"></div>
                                        </div>
                                            <div class="member white">
                                            <div class="left">
                                                <img class="photo-small" src="css/imgs/user/photodune-151726.jpg" />
                                            </div>
                                            <div class="">
                                            <a href="#">
                                                <img src="css/imgs/icons/cards-call4.png" class="call-icon"/></a>
                                            <strong>Jacop Ronald</strong>
                                            <p>Specialist <br /> ABS</p>
                                            <a href="#"><i style="width:2px;" class="fa fa-facebook fa-lg"></i></a>
                                            <a href="#"><i style="" class="fa fa-twitter fa-lg"></i></a>     
                                            <a href="#"><i style="" class="fa fa-linkedin fa-lg"></i></a>
                                            <a href="#"><i style="" class="fa fa-skype fa-lg"></i></a>
                                            <div class="clock">12:45</div>
                                            </div>
                                            <div class="clear"></div>
                                            </div>
                                                    
                                        
                     
                                            </div>
                                                    
                                   
                                            </div>
                          </div>
                   </nav>
