<div class="numbers-window" style="margin:7px;" id="testscroll" ontouchmove ="scrollHandler();">
	<input name="search" type="text" placeholder=" Search.." id="pbSeach" class="form-control" onkeyup="

	document.getElementById('tabsDiv').style.display='block';		
	if(document.getElementById('cardsbondColorI').style.color=='black'){	
		searchInCardsbondContacts();
	}
	else if(document.getElementById('phonebookColorI').style.color=='black')	
		showPhonebook();
	
	else if(document.getElementById('all_publicColorI').style.color=='black'){	
		searchPhonebookWebServiceForPublic();
		searchPhonebookMyPublic();
		}
	" autofocus/>
</div>
<div id="srch-tabs" >
	<div class="box prof-navigation" style="display:none;" id='tabsDiv'>
		<a href="#" onclick="$('#cardsbondContacts').show(); $('#phonebookContacts').hide(); $('#allpublicContacts').hide(); $('#my-publicContacts').hide(); navigator.notification.vibrate(100); 
		document.getElementById('all_public_box').style.display='none'; 
		document.getElementById('my_public_box').style.display='none'; 
		
		document.getElementById('cardsbondColorI').style.color='black';
		document.getElementById('phonebookColorI').style.color='#199ff9';
		document.getElementById('all_publicColorI').style.color='#199ff9';
	"><i id='cardsbondColorI' style='color: black;'>Cardsbond</i></a>|
		<a href="#" onclick="$('#phonebookContacts').show(); $('#cardsbondContacts').hide(); $('#allpublicContacts').hide(); $('#my-publicContacts').hide(); navigator.notification.vibrate(100); 
		document.getElementById('all_public_box').style.display='none'; 
		document.getElementById('my_public_box').style.display='none'; 
		
		document.getElementById('phonebookColorI').style.color='black';
		document.getElementById('cardsbondColorI').style.color='#199ff9';
		document.getElementById('all_publicColorI').style.color='#199ff9';
		showPhonebook();
		"><i id='phonebookColorI' style='color: #199ff9;'>PhoneBook</i></a>|

		<a href="#" onclick="$('#allpublicContacts').show(); $('#my-publicContacts').show(); $('#cardsbondContacts').hide(); $('#phonebookContacts').hide(); navigator.notification.vibrate(100); 
		document.getElementById('all_publicColorI').style.color='black';
		document.getElementById('phonebookColorI').style.color='#199ff9';
		document.getElementById('cardsbondColorI').style.color='#199ff9';		
		document.getElementById('all_public_box').style.display='block'; 
		document.getElementById('my_public_box').style.display='block'; 
		searchPhonebookWebServiceForPublic();
		searchPhonebookMyPublic();
		
		"><i id='all_publicColorI' style='color: #199ff9;'>Public Bond</i></a>
		
		<!--<a href="#" onclick="$('#my-publicContacts').show(); $('#cardsbondContacts').hide(); $('#allpublicContacts').hide(); $('#phonebookContacts').hide(); navigator.notification.vibrate(100);">My Public Bond</a>-->
	</div>
	<div class="team-members" id="cardsbondContacts"></div>
	<div class="team-members hide" id="phonebookContacts" ontouchmove ="scrollHandler();"></div>
	
	
<div class="box prof-navigation" id="my_public_box" style="display:none;">
      <span>My Public Bonds</span>
      <div style="float:right;">
      	<i class="fa fa-plus " id="my-pub-plus" style="display:none;" onclick="$('#my-publicContacts').show(); $('#my-pub-plus').hide(); $('#my-pub-minus').show();"></i>
        <i class="fa fa-minus" id="my-pub-minus" onclick="$('#my-publicContacts').hide(); $('#my-pub-minus').hide(); $('#my-pub-plus').show();"></i>
      </div>
    </div>
    
  	<div class="team-members hide" id="my-publicContacts"></div>

	
    <div class="box prof-navigation" id="all_public_box" style="display:none;">
     <span>Public Bonds</span>
     <div style="float:right;">
      	<i class="fa fa-plus" id="pub-plus" style="display:none;" onclick="$('#allpublicContacts').show(); $('#pub-minus').show(); $('#pub-plus').hide();"></i>
        <i class="fa fa-minus" id="pub-minus"  onclick="$('#allpublicContacts').hide(); $('#pub-plus').show(); $('#pub-minus').hide();"></i>
      </div>
   </div> 
	<div class="team-members hide" id="allpublicContacts">
</div>    
	
</div>

