<div>
<ul>
	<li>
    <div class="box white">
    	<div class="" style="text-align:center;">
        	<img src="" class="profile_img" id="qr_image_preview"/>			
        </div>
        <!-- 
        <div id="search">
          	<p class="titleBox"><i class="fa fa-search"></i>Search</p><br/>
                                        
            <div style="text-align:center; margin:5px; " class="search-page">
    			<input type="search" id="sys_search" class="tag-txt" onchange="" style="width:200px;"/>      	    	       
				&nbsp;<a style="width:50px; height:50px; color:#f6f6f6;" href="#" onclick="navigator.notification.vibrate(100); getQuickBondSearchFromServer(document.getElementById('sys_search').value, 'btn')"><i class="fa fa-search fa-lg"></i></a>    				    				  
			</div>                    
        </div>
 		-->
        <div style="margin:5px; text-align:center !important;" id="srch-btn">
<!--                <a href="#" onclick=" $('#show-qbond').show(''); $('#search').hide(); $('#srch-btn').hide(); $('#srch2-btn').show();" class="flatBtn2">Quick Bond</a>
-->                
			<br/>
			<!--<p class="titleBox" style="" >Do you know bond Id or email?</p><br/>-->
            <!-- <a href="#" onclick="$('#show-invite').show(''); $('#search').hide(); $('#srch-btn').hide(); $('#srch-inv').show(); " class="flatBtn2 titleBox"><p style="font-weight: bold; font-size:15px;">Invite Now</p> if you know the Email or the Bond ID</a> -->
    
            </div>
            
            <div style="margin:5px; text-align:center !important; display:none;" id="srch-inv">
                <a href="#" onclick="$('#search').show(); $('#show-invite').hide(); $('#srch-inv').hide(); $('#srch-btn').show(); $('#srch2-btn').show(); $('#srch2-btn').hide();" class="flatBtn">Invite Bond</a>
            </div>
            
           <div style="margin:5px; text-align:center !important; display:none;" id="srch2-btn">
                <a href="#" onclick="$('#search').hide(); $('#search').show(); $('#show-qbond').hide(); $('#srch-btn').show(); $('#srch2-btn').hide();" class="flatBtn">Quick Bond</a>
            </div>
                        
            <div id="show-qbond" style="display:none;">
                <!-- Quick Bond -->
                <div class="form-div">
                        <form>
                        <div class="form-row">
                            <label>Bond id</label>
                            <input name="bondid" id="quickbondid" type="text" />
                         </div>
                        <div class="clear"></div>
                        <div class="form-row">
                            <label>Tags</label><input name="tags" id="quicktags" type="text" />
                            </div>
                        <div class="form-row">
                            <label for="family" ><input name="family" id="quickfamily" type="checkbox" /> Suppliers</label>
                            <label for="friends"><input name="friends" id="quickfriends" type="checkbox" /> Customers</label>  
                            <label for="business"><input name="business" id="quickbusiness" type="checkbox" /> Partner</label>
                        </div>
                        <div class="clear"></div>
                        <div class="form-row" id="add_bond_btn_div">
                            <label>Comment</label>
                            <textarea id="quickcomment" name="comment"></textarea>
                            
                                <input type="button" id="add_bond_btn" value="Add Bond" onClick="addQuickBond();"  class="flatBtn2"/>                        
                        </div>
                            
                        </form>
                    </div><!-- Quick Bond Show -->
                    
            </div>
            
            <div id="show-invite" style="display:none;">
                <!-- Quick Bond -->
                <div class="form-div">
                        <form>
                            <div class="clear"></div>
                            <div class="">
                            <!--  <p>Type bond id or Email address with Seperated commas ","</p>-->
                            <p style="font-weight: bold;">Invited bond id</p>
                            <textarea disabled name="inviteTextArea" id="inviteTextArea" placeholder="user@example.com" onkeyup="drawInvitedEmails(this.value)"  style="width:100%; border-radius:5px;"></textarea> 
                            <input value="Invite" type="button" onClick="getInvitationTableData()" class="flatBtn2"/>
                            <!-- <input value="Browse PB" type="button" onClick="browsePhonebook()" class="flatBtn2" /> -->
                            
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <td><i class="fa fa-times"></i></td>
                                        <td colspan="3">Invited Address</td>
                                    </tr>
                                </thead>
                                <tbody id="invitedTable">
                                 </tbody>
                            </table>
            <div style="margin:5px; text-align:center !important;" id="srch-btn">
                            <input value="Invite" type="button" onClick="getInvitationTableData()" class="flatBtn2"/>
    
            </div>

                            

                        </form>
                    </div><!-- Quick Bond Show -->
                    
            </div>
        </div>  
        </li> 
</ul>
</div>
