<!-- Company Page -->
            
        <div id="my_company" class="member white">
						                   
		</div>
        

        <div class="box white" id="company-prof" style="margin-top:2px; margin-bottom:-6px;">
                <p><a href="#" style="color:#29aae2;" onclick="$('#company-info').slideToggle();">More Info....</a></p>
                                       <div class="company-info" id="company-info" style="display:none;">  
                                       <p>Telecommunication Company</p>                 
                                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestibulum, mi rutrum commodo faucibus, velit orci viverra metus, quis ornare ipsum sem dignissim ligula. Vivamus nec eros sed orci imperdiet imperdiet. Fusce quam velit, accumsan id sapien non, tempor euismod tortor. Pellentesque quis dui neque. Nulla sit amet sapien vitae risus tempor mattis sed id massa. Nulla aliquet, ipsum ac vulputate vehicula, justo nisi egestas felis, pharetra venenatis purus massa at magna. Praesent in diam nec magna malesuada vehicula. </p>
                                           <hr />
                                           <div class="company-social">
                                            <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-instagram fa-lg"></i></a>
                                            <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-pinterest fa-lg"></i></a>     
                                            <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-youtube fa-lg"></i></a>
                                            <a href="#"><i style="color:#109fd9; width:20px;" class="fa fa-skype fa-lg"></i></a>
                                            <div class="clock">12:45</div>
                                           </div>
                                           <hr />
                                          <div class="clear"></div>
                                           <span>Address: <strong>Square 5, Smart Village 6th of october, Egypt.</strong></span>
                                           <a href="#" onclick="$('#branches').slideToggle();" class="flatBtn">More</a>
                                       </div>	
                            
             <div id="branches" style="display:none;">
                              	<!-- Branch One -->
                                <div class="branch">
                                	<!-- Name of Branch -->
                                    <span><strong>Egypt</strong><div class="clock-comp">12:45</div><br /></span>
                                    <div class="span-indent">
                                        <span>Smart Village</span><br />
                                        <span>Address: 6th of October</span><br />
                                        <span>Phone No:00000000</span><img src="css/imgs/cards-call4.png" class="call-icon-branch" style="float:right;"/><hr />
                                        
                                        <span>City Stars</span><br />
                                        <span>Address:<em>Omar Ebn El-Khattab ST,City stars mall-ground floor nasr city</em></span><br />
                                        <span>Phone No:00000000</span><img src="css/imgs/cards-call4.png" class="call-icon-branch" style="float:right;"/><hr />
                                        <span>Maadi laselky</span><br />
                                        <span>Address:<em>3/2 St. Laselki - New Maadi</em></span><br />
                                        <span>Phone No:00000000</span><img src="css/imgs/cards-call4.png" class="call-icon-branch" style="float:right;"/><hr />
                                        <span>Merghany</span><br />
                                        <span>Address:<em>69 Merghany St.-Heliopolis, Cairo, Egypt.</em></span><br />
                                        <span>Phone No:0000</span><img src="css/imgs/cards-call4.png" class="call-icon-branch"/><br />
                                	</div>
                              
                              	</div> 
                                <!-- Branch Two -->
                                <div class="branch">
                                	<!-- Name of Branch -->
                                    <span><strong>Australia</strong><br /></span>
                                    <div class="span-indent">
                                    		<span>Branch One Head Quarter</span><br />
                                        <span>Address:</span>
                                        <span>Phone No:</span><hr />
                                        	<span>Branch Two</span><br />
                                        <span>Address:</span>
                                        <span>Phone No:</span><hr />
                                        
                                          <span>Branch three</span><br />
                                        <span>Address: Branch Three</span>
                                        <span>Phone No:0000000</span>
                                	</div>
                              	</div> 
                                <!-- Branch Three -->
                                <div class="branch">
                                	<!-- Name of Branch -->
                                    <span><strong>UK</strong><br /></span>
                                    <div class="span-indent">
                                    		<span>Branch One London Header Quarter</span><br />
                                        <span>Address:Branch one Address</span>
                                        <span>Phone No:000000</span><hr />
                                        	<span>Branch Two</span><br />
                                        <span>Address:London Street</span>
                                        <span>Phone No:00000000</span><hr />
                                          <span>Branch Three</span><br />
                                        <span>Address: Branch Three</span>
                                        <span>Phone No:00000000</span>
                                     
                                	</div>
                              
                              	</div>          
        					</div>

       </div>
       	

 	
        <div class="team-members" id="company_member">
          
        </div>