<!-- User Profile -->
	<div class="box white" id="myContactProfile"></div>

    <div class="box white tags" id="myContactTags">
      	<span><i class="fa fa-tags"></i> Tags/Groups</span><br>
            <div class="clear"></div>
              
            <div class="tags-l2" id="tags-l2"></div>    
   		    <div>
   				
                   	<input type="text" id="myContactProfileTag" name="tag" class="tag-txt" style="width:90%;"/>         	
                    <br><br><input type="button" value="Add Tag" class="tag-btn" onClick="test()"/>
                   				
   			</div>
        </div>
    <div class="box white" id="aboutContact"></div>
    <div class="box white" id="contactProfComment"></div>
	<div class="box white" id="contactProfForComanyComment"></div>

<!--		<div class="box white" id="task_contact">	
		</div>
-->
<div class="box white">
<p class="titleBox">Social Networks</p>
	<hr>
	<div class="socialBody" id="contactProfSocial">
		
	</div>
</div>