<!-- Edit Profile Page -->

<div class="box white" onload="fillInEditProfileData()">
	<div class="regcontainer">
    	<div class="">
        	<img src="" class="profile_img" onClick="getPhoto(pictureSource.SAVEDPHOTOALBUM)" id="edit_profile_picture"/>			
        </div>

        <div class="box prof-navigation" style="background-color:#199ff9; color:#FFF;">                         
        	<div onClick="toggleDivInProfile(event)">
                	<i class="fa fa-plus"  id="pub-plus" onclick="togglePlusInProfile(event)"  style="color:blue;"></i>
                    <i class="fa fa-minus" id="pub-minus" style="display:none; color:blue;" onclick="toggleMinusInProfile(event)" ></i>    
            	<span>Personal Information  </span>
            </div>
        </div>
        <div class="login">
        	<form id="slick-login">
            	<div id="p-info" style="display:none;">
                	<p>
                	  	<p style="font-size:10px;">First Name</p>
                    
                	<input type="text" name="fname" id="updated_fname" value="" placeholder="First Name *" />
                    
                    <p>
                    <p style="font-size:10px;">Last Name</p>
                    
                    <input type="text" name="lname" id="updated_lname" value="" placeholder="Last Name *" />

                    <p>
                                    	  	<p style="font-size:10px;">Password</p>
                    
                    <input type="password" name="password" id="updated_password" value="" placeholder="Password" />
                    <p>
                                    	  	<p style="font-size:10px;">Re-type Password</p>
                    
                    <input type="password" name="conf_password" id="updated_conf_password" value="" placeholder="Confirm Password" />
                    

                     
                    <p>
                	  	<p style="font-size:10px;">Company</p>
                            <input type="text" placeholder="Company" id="updated_company" name="updated_company"/>
                            
                    
                    <p>
                    	                	  	<p style="font-size:10px;">Position</p>

                            <input type="text" placeholder="Position" id="updated_position" name="position" onChange="showReplacement()"/>
                    
                    <p>
                    
                    <input type="hidden" id="updated_replacement" value="" placeholder="Your Replacment" style="background-color:#6373FE;" />
                    </p>
                    
                    <p>
                	  	<p style="font-size:10px;">Country</p>
                    	    <select name="country" id="updated_country">
                
                            </select>
                    
                    <p>
                	  	<p style="font-size:10px;">City</p>
                          <select name="city" id="updated_city">
               
                                </select>
                          
                          
                          <p>
                          	<p style="font-size:10px;">Address</p>
                            <input type="text" id="updated_address" name="address" placeholder="Address"/>
              				
                </div>                         
                          <p>
                          			Be Hidden:<input type="checkbox" name="bhidden" id="behidden"/> 
                        			Be Public:<input type="checkbox" name="bsocial" id="besocial"/><br /><br />
                          </p>
                          
                          <p>
                          	<p style="font-size:10px;">Type your wants/keywords separated by ","</p>
                    	<textarea name="wants" placeholder="Your Wants" id="wants"></textarea>
                          
                            <label>About Me</label>
                            <br />
                            <p style="font-size:10px;">about Me</p>
                            
                            <textarea name="about-me" id="editAboutMe" value="" placeholder="Some Paragraph about Me"></textarea>
                             <div class="box prof-navigation" style="background-color:#199ff9; color:#FFF;">                         
        	<div onClick="toggleCompanyDivInProfile(event)">
                	<i class="fa fa-plus"  id="pub-plus-company" onclick="togglePlusInCompany(event)"  style="color:blue;"></i>
                    <i class="fa fa-minus" id="pub-minus-company" style="display:none; color:blue;" onclick="toggleMinusInCompany(event)" ></i>
            	<span>Company Information  </span>

            </div>
        </div>
        <div class="login">
        	<form id="">
            	<div id="company-info" style="display:none;">
                	
                	<div class="">
						<p style="font-size:10px;">My company Logo</p>
        			<img src="" class="profile_img" onClick="getCompanyPhoto(pictureSource.SAVEDPHOTOALBUM)" id="edit_company_profile_picture"/>			
        			</div>
                	
                
						<p style="font-size:10px;">Brief about my company</p>
						<textarea name="about-me" id="editBriefMyCompany" value="" placeholder="Some Paragraph about your company"></textarea>
                    
                    
					
                        <p style="font-size:10px;">Company Address</p>
                        <input type="text" id="updated_company_address" name="address" placeholder="Company Address" />
              		
              		<p><table><tr td width="100%"><td td width="50%">
                	  	<p style="font-size:10px;">Country</p>
                    	    <select name="country" id="updated_company_country">                
                            </select>
                            </td><td td width="50%">
                	  	<p style="font-size:10px;">City</p>
                          <select name="city" id="updated_company_city">      
                          </select>
                          </td></tr></table>
                   	
                   
              		<br>
              		<p>
                        <p style="font-size:10px;">Company Email</p>
                        <input type="text" id="updated_company_email" name="email" placeholder=""/>
              		
              		<p>
                        <p style="font-size:10px;">Company Phone</p>
                        <span class="left-inner-addon">+</span><input type="number" id="updated_company_phone" style="padding-left: 15px;" name="phone" placeholder=""/>
              		
                </div>                                                   
       		</form>                       
    </div>
 
                     
                          
                         <a href="javascript:menu('0');" onClick="saveUpdatedProfieData(); saveSocialData();" class="logbtn">SAVE DATA</a>
       		</form>
                       
        </div>
     </div>
</div>
    <form id="slick-login2">
               <div class="box white" id="mobilesDiv">   
                         <label><i class="fa fa fa-mobile"></i> Mobile</label>  
                         <br />				
               </div>
                         
               <div class="box white" id="phoneDiv">             
                         <label><i class="fa fa fa-phone"></i> Phones</label> 
                         <br />   
              </div>

              <div class="box white" id="faxDiv"> 
              <label><i class="fa fa fa-fax"></i> Fax</label>  
              	<br />               
                
              </div>
              
              <div class="box white" id="emailDiv">   
                         <label><i class="fa fa fa-envelope"></i> Email</label>  
                         <br />
    
              </div>
                            
              
              <div class="box white"> 
              <label><i class="fa"></i> Social Networks</label>  
              <br />               
                            <span class="nforom-input" style="margin:20px; line-height:12px;">
                            <i class="fa fa-facebook fa-lg"></i>&nbsp;
                            &nbsp;<input type="text" name="mobile" placeholder="your.username" value=""  id="editfacebook"/>
                            <input type="hidden" value="" id="editfacebookhidden"/>
                            <div class="hide input-icons" id="con-type-s1">
                                    <a href="#"><img id="facebookProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="facebookProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="facebookProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfileBusinessIcon', 'business')"/></a>
                                    |<a href="#"><img id="facebookProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfilePublicIcon','public')"/></a>
                     		</div>                            
                            </span><br>
                            
                            <span class="nforom-input" style="margin:20px; line-height:12px;">
                            <i class="fa fa fa-twitter fa-lg"></i>
                            <input type="text" name="mobile" placeholder="your.username" value=""  id="edittwitter"/>
                            <input type="hidden" value="" id="edittwitterhidden"/>
                            <div class="hide input-icons" id="con-type-s2">
                                    <a href="#"><img id="twitterProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="twitterProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="twitterProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfileBusinessIcon','business')"/></a>
                                    |<a href="#"><img id="twitterProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfilePublicIcon','public')"/></a>
                      		</div>
                            
                            </span><br>
                            
                            <span class="nforom-input" style="margin:20px; line-height:12px;">
                             <i class="fa fa fa-linkedin fa-lg"></i>
                            <input type="text" name="mobile" placeholder="your.username" value="" id="editlinkedin"/>
                            <input type="hidden" value="" id="editlinkedinhidden"/>
                            
                            <div class="hide input-icons" id="con-type-s3">
                                    <a href="#"><img id="linkedinProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="linkedinProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="linkedinProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfileBusinessIcon','business')"/></a>
                                    |<a href="#"><img id="linkedinProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfilePublicIcon','public')"/></a>
                      		</div>
                            
                            </span><br>


							 <span class="nforom-input" style="margin:20px; line-height:12px;">
                             <i class="fa fa-skype fa-lg"></i>
                            <input type="text" name="mobile" placeholder="your.username" value=""  id="editskype"/>
                            <input type="hidden" value="" id="editskypehidden"/> 
                            <div class="hide input-icons" id="con-type-s4">
                                    <a href="#"><img id="skypeProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="skypeProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="skypeProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfileBusinessIcon','business')"/></a>
                                    |<a href="#"><img id="skypeProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfilePublicIcon','public')"/></a>
                      		</div>                            
                            </span><br>

              </div>
                <a class="flatBtn" href="javascript:menu('0');" onClick="saveSocialData(); saveUpdatedProfieData();"></i>Save</a>
   </form>  
        <!--End of Small Box Div -->
<!-- 
<div class="box white" onload="fillInEditProfileData()">
	<div class="regcontainer">
    	<div class="">
        	<img src="" class="profile_img" onClick="getPhoto(pictureSource.SAVEDPHOTOALBUM)" id="edit_profile_picture"/>			
        </div>

        <div class="box prof-navigation" style="background-color:#199ff9; color:#FFF;">                         
        	<div onClick="toggleDivInProfile(event)">
                	<i class="fa fa-plus"  id="pub-plus" onclick="togglePlusInProfile(event)"  style="color:blue;"></i>
                    <i class="fa fa-minus" id="pub-minus" style="display:none; color:blue;" onclick="toggleMinusInProfile(event)" ></i>    
            	<span>Personal Information  </span>
            </div>
        </div>
        <div class="login">
        	<form id="slick-login">
            	<div id="p-info" style="display:none;">
                	<p>
                	  	<p style="font-size:10px;">First Name</p>
                    
                	<input type="text" name="fname" id="updated_fname" value="" placeholder="First Name *" />
                    
                    <p>
                    <p style="font-size:10px;">Last Name</p>
                    
                    <input type="text" name="lname" id="updated_lname" value="" placeholder="Last Name *" />

                    <p>
                                    	  	<p style="font-size:10px;">Password</p>
                    
                    <input type="text" name="password" id="updated_password" value="" placeholder="Password" />
                    <p>
                                    	  	<p style="font-size:10px;">Re-type Password</p>
                    
                    <input type="text" name="conf_password" id="updated_conf_password" value="" placeholder="Confirm Password" />
                    

                     
                    <p>
                	  	<p style="font-size:10px;">Company</p>
                            <input type="text" placeholder="Company" id="updated_company" name="updated_company"/>
                            
                    
                    <p>
                    	<p style="font-size:10px;">Position</p>

                            <input type="text" placeholder="Position" id="updated_position" name="position" onChange="showReplacement()"/>
                    
                    <p>
                    
                    <input type="hidden" id="updated_replacement" value="" placeholder="Your Replacment" style="background-color:#6373FE;" />
                    </p>
                    
                    <p>
                	  	<p style="font-size:10px;">Country</p>
                    	    <select name="country" id="updated_country">
                
                            </select>
                    
                    <p>
                	  	<p style="font-size:10px;">City</p>
                          <select name="city" id="updated_city">
               
                                </select>
                          
                          
                          <p>
                          	<p style="font-size:10px;">Address</p>
                            <input type="text" id="updated_address" name="address" placeholder="Address"/>
              				
                </div>                         
                          <p>
                          			Be Hidden:<input type="checkbox" name="bhidden" id="behidden"/> 
                        			Be Public:<input type="checkbox" name="bsocial" id="besocial"/><br /><br />
                          </p>
                          
                          <p>
                          	<p style="font-size:10px;">Type your wants/keywords separated by ","</p>
                    	<textarea name="wants" placeholder="Your Wants" id="wants"></textarea>
                          
                            <label>About Me</label>
                            <br />
                            <p style="font-size:10px;">about Me</p>
                            
                            <textarea name="about-me" id="editAboutMe" value="" placeholder="Some Paragraph about Me"></textarea>
                             <div class="box prof-navigation" style="background-color:#199ff9; color:#FFF;">                         
        	<div onClick="toggleCompanyDivInProfile(event)">
                	<i class="fa fa-plus"  id="pub-plus-company" onclick="togglePlusInCompany(event)"  style="color:blue;"></i>
                    <i class="fa fa-minus" id="pub-minus-company" style="display:none; color:blue;" onclick="toggleMinusInCompany(event)" ></i>
            	<span>Company Information  </span>

            </form>
        </div>
        <div class="login">
        	<form id="">
            	<div id="company-info" style="display:none;">
                	
                	<div class="">
						<p style="font-size:10px;">My company Logo</p>
        			<img src="" class="profile_img" onClick="getCompanyPhoto(pictureSource.SAVEDPHOTOALBUM)" id="edit_company_profile_picture"/>			
        			</div>
                	
                
						<p style="font-size:10px;">Brief about my company</p>
						<textarea name="about-me" id="editBriefMyCompany" value="" placeholder="Some Paragraph about your company"></textarea>
                    
                    
					
                        <p style="font-size:10px;">Company Address</p>
                        <input type="text" id="updated_company_address" name="address" placeholder="Company Address" />
              		
              		<p><table><tr td width="100%"><td td width="50%">
                	  	<p style="font-size:10px;">Country</p>
                    	    <select name="country" id="updated_company_country">                
                            </select>
                            </td><td td width="50%">
                	  	<p style="font-size:10px;">City</p>
                          <select name="city" id="updated_company_city">      
                          </select>
                          </td></tr></table>
                   	
                   
              		<br>
              		<p>
                        <p style="font-size:10px;">Company Email</p>
                        <input type="text" id="updated_company_email" name="email" placeholder="Company Email"/>
              		
              		<p>
                        <p style="font-size:10px;">Company Phone</p>
                        <input type="number" id="updated_company_phone" name="phone" placeholder="Company Phone"/>
              		
                </div>                                                   
       		</form>                       
    </div>
 
                     
                          
                         <a href="javascript:menu('0');" onClick="saveUpdatedProfieData(); saveSocialData();" class="logbtn">SAVE DATA</a>
       		</div>
                       
        </div>
     </div>
</div>
    <form id="slick-login2">
               <div class="box white" id="mobilesDiv">   
                         <label><i class="fa fa fa-mobile"></i> Mobile</label>  
                         <br />				
               </div>
                         
               <div class="box white" id="phoneDiv">             
                         <label><i class="fa fa fa-phone"></i> Phones</label> 
                         <br />   
              </div>

              <div class="box white" id="faxDiv"> 
              <label><i class="fa fa fa-fax"></i> Fax</label>  
              	<br />               
                
              </div>
              
              <div class="box white" id="emailDiv">   
                         <label><i class="fa fa fa-envelope"></i> Email</label>  
                         <br />
    
              </div>
                            
              
              <div class="box white"> 
              <label><i class="fa"></i> Social Networks</label>  
              <br />               
                            <span class="nforom-input" style="margin:20px; line-height:12px;">
                            <i class="fa fa-facebook fa-lg"></i>&nbsp;
                            &nbsp;<input type="text" name="mobile" placeholder="your.username" value=""  id="editfacebook"/>
                            <input type="hidden" value="" id="editfacebookhidden"/>
                            <div class="hide input-icons" id="con-type-s1">
                                    <a href="#"><img id="facebookProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="facebookProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="facebookProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfileBusinessIcon', 'business')"/></a>
                                    |<a href="#"><img id="facebookProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('facebookProfilePublicIcon','public')"/></a>
                     		</div>                            
                            </span><br>
                            
                            <span class="nforom-input" style="margin:20px; line-height:12px;">
                            <i class="fa fa fa-twitter fa-lg"></i>
                            <input type="text" name="mobile" placeholder="your.username" value=""  id="edittwitter"/>
                            <input type="hidden" value="" id="edittwitterhidden"/>
                            <div class="hide input-icons" id="con-type-s2">
                                    <a href="#"><img id="twitterProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="twitterProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="twitterProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfileBusinessIcon','business')"/></a>
                                    |<a href="#"><img id="twitterProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('twitterProfilePublicIcon','public')"/></a>
                      		</div>
                            
                            </span><br>
                            
                            <span class="nforom-input" style="margin:20px; line-height:12px;">
                             <i class="fa fa fa-linkedin fa-lg"></i>
                            <input type="text" name="mobile" placeholder="your.username" value="" id="editlinkedin"/>
                            <input type="hidden" value="" id="editlinkedinhidden"/>
                            
                            <div class="hide input-icons" id="con-type-s3">
                                    <a href="#"><img id="linkedinProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="linkedinProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="linkedinProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfileBusinessIcon','business')"/></a>
                                    |<a href="#"><img id="linkedinProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('linkedinProfilePublicIcon','public')"/></a>
                      		</div>
                            
                            </span><br>


							 <span class="nforom-input" style="margin:20px; line-height:12px;">
                             <i class="fa fa-skype fa-lg"></i>
                            <input type="text" name="mobile" placeholder="your.username" value=""  id="editskype"/>
                            <input type="hidden" value="" id="editskypehidden"/> 
                            <div class="hide input-icons" id="con-type-s4">
                                    <a href="#"><img id="skypeProfileFriendsIcon" alt="-5" src="css/imgs/icons/friends-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfileFriendsIcon','friends')"/></a>
                                    <a href="#"><img id="skypeProfileFamilyIcon" alt="-1" src="css/imgs/icons/family-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfileFamilyIcon','family')"/></a> 
                                    <a href="#"><img id="skypeProfileBusinessIcon" alt="-4" src="css/imgs/icons/business-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfileBusinessIcon','business')"/></a>
                                    |<a href="#"><img id="skypeProfilePublicIcon" alt="-6" src="css/imgs/icons/toggle-in.png" class="filtration-icons" onClick="toggleSocialProfileIcon('skypeProfilePublicIcon','public')"/></a>
                      		</div>                            
                            </span><br>

              </div>
                <a class="flatBtn" href="javascript:menu('0');" onClick="saveSocialData(); saveUpdatedProfieData();">Save</a>
   </form>  
   -->
        <!--End of Small Box Div -->