<div class="white box">
<h3>Update every <br/><input type="number" id="update_time_in_secondes" value="" class="tag-txt" onblur="setUpdatertime(this.value)"/> minute(s)</h3>
</div>

<div class="white box">
<h3>Loading contacts per page <input type="number" id="limit_contacts_loading" value="" class="tag-txt" onblur="setLimitContacts(this.value)"/> person(s)</h3>
</div>