<!-- profile Page -->
            
        <div id="myOwnProfile" class="box white">
	    <a href="javascript:menu('5');" title="Edit Profile" style="float:right !important;"><i class="fa fa-edit fa-lg"></i></a>
						                   
		</div>
        <div class="box prof-navigation">
                <!--<a id="vAsFri" href="#" onclick="$('#myProfile_viewfriend').show(); $('#myProfile_viewbusiness').hide(); $('#myProfile_viewfamily').hide(); 
                document.getElementById('vAsFam').style.color = '#199ff9';
                document.getElementById('vAsBus').style.color = '#199ff9';
                document.getElementById('vAsFri').style.color = 'black';
                " style="color:black;">View as Friend</a>|
                -->
                <a id="vAsBus" href="#" onclick="$('#myProfile_viewbusiness').show();">View as Business</a>
                <!--|
           
                <a id="vAsFam" href="#" onclick="$('#myProfile_viewfamily').show(); $('#myProfile_viewbusiness').hide(); $('#myProfile_viewfriend').hide();
                document.getElementById('vAsFam').style.color = 'black';
                document.getElementById('vAsBus').style.color = '#199ff9';
                document.getElementById('vAsFri').style.color = '#199ff9';
                ">View as Family</a>-->
        </div> 
        
        <div class="box white" id="myProfile_viewfriend" style="display:none;">       
        		
        </div>
        
        <div class="box white" id="myProfile_viewbusiness">
              
        </div>
        <div class="box white" id="myProfile_viewfamily" style="display:none;">
              
        </div>
 
	<div style="text-align:center;" class="box white" >
<p class="titleBox" style="text-align:center;">Social Networks</p>
	<hr>
	<div class="socialBody" id="myprofile_socialBody">
	</div>

	</div>

