<div id="contact_screen_div_container">

<div class="box white" style="padding:5px;margin-top:2px;">
	<div style="text-align:center; margin:5px; ">
    	<input type="text" class="tag-txt" onkeyup="showResult(this.value)" style="width:200px;"/>  &nbsp;       	    	       
			<a href="#" onclick="takePhoto_qr()"><i style=" color:#c82372; vertical-align: middle;" class="fa fa-qrcode fa-2x"></i></a>
	</div>       	    	       
	<!-- Filtration -->
	<div style="text-align:center; margin:5px;">	
	    <a class="f-items" href="javascript:menu('1');" onClick="navigator.notification.vibrate(100); showBusinessOnly();">  <img id="filterByBusiness" src="" class="filtration-icons"/><font style="color:#ce3474">Partners</font></a>
	    <a class="f-items" href="javascript:menu('1');" onClick="navigator.notification.vibrate(100); showFamilyOnly();">   <img id="filterByFamily"  src="" class="filtration-icons" /><font style="color:#ce3474">Supplier</font></a>
		<a class="f-items" href="javascript:menu('1');" onClick="navigator.notification.vibrate(100); showFriendsOnly();">  <img id="filterByFriends" src="" class="filtration-icons" /><font style="color:#ce3474">Customer</font></a>
	    <a class="f-items" href="javascript:menu('1');" onClick="navigator.notification.vibrate(100); showFavoriteOnly()"> <img id="filterByFavorite" src="" class="filtration-icons"/><font style="color:#ce3474">Favorite</font></a>
	</div>
	<!-- End of Filtration-->
</div>
                        
<div class="team-members white" style="text-align:center !important; " id='sharedDivMemebers'>      	
  	<input id="sharedButtonId" type="button" value="Share"  onClick="navigator.notification.vibrate(100); getSharedContacts();" class="hide"/>   
</div>
            
<div class="">
	<div class="team-members" id="contact"></div>	
		<div class="white box" style="background-color:white; " id="load_more" onClick="loadCustomContacts()"><p style="font-weight: bold; color:#c82372;" id="loadMoreContactsText_p">Load Contacts...</p></div></div>

</div>