<!-- Public Bonds -->
<div class="box white" style="padding:5px;margin-top:2px;">      
	<div id="Quicksearch" style="text-align:center; margin:5px;">
    	<input type="search" class="tag-txt" onchange="searchWebServiceForPublic(this.value)" style="width:200px;"/>      	       
	</div>     	               		
</div>

    <div class="box prof-navigation">
      <span>My Public Bonds</span>
      <div style="float:right;">
      	<i class="fa fa-plus" id="my-pub-plus" style="display:none;" onclick="togglePlusInMyPublic(event)"></i>
        <i class="fa fa-minus" id="my-pub-minus" onclick="toggleMinusInMyPublic(event)"></i>
      </div>
    </div>
    
    <div id="mypublic">
	</div>
	
    <div class="box prof-navigation">
     <span>Public Bonds</span>
     <div style="float:right;">
      	<i class="fa fa-plus" id="pub-plus" onclick="togglePlusInAllPublic(event)"></i>
        <i class="fa fa-minus" id="pub-minus" style="display:none;" onclick="toggleMinusInAllPublic(event)"></i>
      </div>
   </div> 
    <div id="allpublic" style="display:none;">
</div>    