<!-- Dialing Phone Numbers -->
<div class="numbers-window" style="margin:7px;">
	<input name="search" type="text" placeholder="  Search.." class="form-control" onfocus="javascript:menu('14');"/>
</div>

<div id="main-wrapper" style="margin:1px; margin-top:5px;">
    <div style="float:right !important; color:#fff; z-index:1 !important; cursor:pointer;"><i class="fa fa-arrow-circle-o-left fa-2x" onclick="javascript:dial('del');"></i></div>

	<section role="main">
   <div class="dialPad compact" style="margin:7px;">    

        <div class="numbers-window" style="margin:7px;">
		    <input name="search" type="number" class="form-control number" value="" style="z-index:3;" id="dial-numb"/>
    	</div>

     
                            
           <div class="dials" id="numbers" >
            
                    <ol>
                            <li class="digits">
                            <p onclick="javascript:dial('1');"><strong>1</strong></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('2');"><strong>2</strong><sup>abc</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('3');"><strong>3</strong><sup>def</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('4');"><strong>4</strong><sup>ghi</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('5');"><strong>5</strong><sup>jkl</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('6');"><strong>6</strong><sup>mno</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('7');"><strong>7</strong><sup>pqrs</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('8');"><strong>8</strong><sup>tuv</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('9');"><strong>9</strong><sup>wxyz</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('*');"><strong><i class="fa fa-asterisk" style="color:#FFF; font-size:36px;"></i></strong></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('0');"><strong>0</strong><sup>+</sup></p>
                            </li>
                            <li class="digits">
                            <p onclick="javascript:dial('#');"><strong>#</strong></p>
                            </li>
                    
                            
                            <li class="digits">
                            <p onclick="javascript:sendSMS();"><i class="fa fa-envelope"></i></p>
                            </li>
                            <li class="digits">
                            <p><i class="fa fa-video-camera"></i></p>
                            </li>
                            <li class="digits pad-action">
                            <p onclick="javascript:callPhoneNumber();"><i class="fa fa-phone"></i></p>
                            </li>
                            
                    </ol>
            </div>
    </div>
</section>
</div>