<div class="box white" style="padding:5px;margin-top:2px;">
	<div style="text-align:center; margin:5px; ">
    	<input type="text" class="tag-txt" onkeyup="showCompanyResult(this.value)" style="width:200px;"/>         	    	       
	</div>
    
    <div style="text-align:center; margin:5px;">

        <a class="f-items" onClick="navigator.notification.vibrate(100); showCompanyBusinessOnly()"><img id="filterByBusinessCom" src="css/imgs/icons/business.png" class="filtration-icons"/><font>Business</font></a>

        <a class="f-items" onClick="navigator.notification.vibrate(100); showCompanyFamilyOnly()">  <img id="filterByFamilyCom"   src="css/imgs/icons/family.png" class="filtration-icons"/><font>Family</font></a>
    	<a class="f-items" onClick="navigator.notification.vibrate(100); showCompanyFriendsOnly()"> <img id="filterByFriendsCom"  src="css/imgs/icons/friends.png" class="filtration-icons"/><font>Friends</font></a>

        <a class="f-items" onClick="navigator.notification.vibrate(100); showCompanyFavoriteOnly()"><img id="filterByFavoriteCom" src="css/imgs/icons/favorite.png" class="filtration-icons"/><font>Favorite</font></a>
    </div>
</div>

<div id="all_companies">       				
        

</div>
