@mainColor: #fff;

@themeColor: #1d8d20;
@themeColor: #20689b;
@themeColor: #1cb3f3;
@themeColor: #c42423;
@themeColor: #199dd4;



@secondaryColor: #fff;
@typoColor: #333;
@grayColor: #f6f6f6;
@moreGrayColor: #efefef;

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: 'dial';
  src:url("../font/dial/00222.ttf");
}
* { 
	margin: 0px; 
	padding: 0px;
}
.white{
	background-color:#FFF;
	}
body {
    /* APPLE FONT --> font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font: 16px "Source Sans", helvetica, arial, sans-serif;
  	font-weight: 200;
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
	margin:0;
	border:0;
	position: fixed;
	-webkit-transform:translate3d(0,0,0); /* Hardware aceleration */
	
	
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1{
	color: rgb(51, 51, 51);
}
.hide{display:none;}
/* Prevents slides from flashing */
#slides {
  display:none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*
.head{
	position:absolute;
	color:#FFF;
	z-index:-1;
	background-color:#231f20;
	width:100%;
	height:100%;
	border-bottom-right-radius:455px;
	border-top-right-radius:0px;
	}*/
/*Header style*/
#header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	background:#FFFFFF;
	/*background:#2c83b9;
	background:#153e6a;
	background: #359ac4;
	background:#324f5b;
	background:#393839;
	background:#005c84;
	background: #248DC1;
	background: #003a69;
	
	background:#3c97b2;
	background:#1ab112;
	background:#FFF;
	background:url(imgs/transpearent.png) repeat;*/
	padding:0;
	color:#eee;
	font-size:14px;
	line-height: 45px;
	text-align:center;
	height: 50px;
	
}

.borderRadius{
	border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px;   
    -o-border-radius: 5px;   
    border-bottom-right-radius: 0;   
    -moz-border-radius-bottomright: 0;   
    -webkit-border-bottom-rightright-radius: 0;   
    border-bottom-left-radius: 0;   
    -moz-border-radius-bottomleft: 0;   
    -webkit-border-bottom-left-radius: 0; 
}

.headerBack{
	/*background-color: #000;*/
	
	width: 100%;
	height: 50px;
	position:absolute;
	padding:0;
}

#header .btn {
    position: absolute;
	float:left;
    top: 6px;
    left: 6px;
    width:35px;
    height: 35px;
    line-height: 36px;
    /*background-color:#58B1FC;
	background-color: #324f5b;*/
	border-radius: 100px;
}
div.btn i,#posIcon{
	line-height: 2.7;
	width: 35px;
}

#header .btn:active {
opacity: 0.5;
}
#header .btn-not {
    position: absolute;
	float:left;
    top: 6px;
    left: 6px;
    width:35px;
    height: 35px;
	text-align:center;
    line-height: 36px;
    /*background-color:#58B1FC;*/
	background-color: #cfcfcf;
	border-radius: 100px;
	z-index:2;
}
div.btn-not i,#posIconn{
	line-height: 2.7;
	width: 35px;
}

#header .btn-not:active {
opacity: 0.5;
}

#header .location {
    position: absolute;
    top: 6px;
    right: 200px;
    width:35px;
    height: auto;
    line-height: 30px;
	
    /*background-color:#324f5b;*/
	border-radius: 100px;
}
div.location i,#plusico{
	line-height: 1.3;
	width: 35px;
}

#header .location:active {
opacity: 0.5;
}



.logo{
	height:32px; 
	width:35px; 
	margin-top:6px;
}

.sectionTitle{
	color: #fff;
}
/*End header style*/

/*Body styles*/
#body{
	/*background:#FFF;
	background:url('imgs/BG_30.jpg') no-repeat;
	background:#dadada;
	background:#E5E5E5;*/
	background: url('../img/blur.jpg') no-repeat center center;
	background-size:cover !important;
	position:absolute;
	width: 100%;
	height:100%;
}

#body h1{
	font-size:20px;
	line-height:50px
}

.borde-h1{
	width:5px;
	float:left;
	height:30px;
	margin-right:5px
}

#sectionContent{
	margin:10px;
	margin-bottom:20px !important;
	height:100%;
	padding-bottom:7px !important;
}
/*End body styles*/

.scroller {
	position:absolute; z-index:1;
	width:100%;
	padding:0
}
/*Box style*/
.box{
	padding: 20px 20px;
	color: rgb(107, 107, 107);
	
	margin: 20px 0px;
	border-radius: 5px;

}
.box2{
	padding: 5px;
	color: rgb(107, 107, 107);
	margin: 3px 0px;
	margin-bottom:8px;
	border-radius: 5px;
	min-height:60px;
}
.greyBackground{
	background-color: #f3f3f3;
}

.greyBackground hr{
	margin: 10px 0;
	border-top: 1px solid #fff;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

hr {
  margin: 10px 0;
  border-top: 1px solid #f3f3f3;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

p.titleBox{
	text-transform: uppercase;
	font-weight: bold;
	//color: rgb(60, 171, 218);
	color: #ce3474;
	display: inline;
}

p.date{
	display: inline;
	position: absolute;
	right: 30px;
	color: rgb(60, 171, 218);
}

.socialBody{
	text-align: center;
	font-size: 25px;
}
/*End box style*/

/*CSS spinner*/
.spinner {
   height:32px;
   width:32px;
   margin:0 auto;
   position:relative;
   -webkit-animation: rotation .9s infinite linear;
   -moz-animation: rotation .9s infinite linear;
   -o-animation: rotation .9s infinite linear;
   animation: rotation .9s infinite linear;
   border:6px solid rgba(0,174,239,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(0,174,239,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
/*End CSS spinner*/

/* Map style */
#mapCanvas {width:100%;}
#mapCanvas img { max-width: none; }
#mapCanvas label { width: auto; display:inline; }
/* End map style */

div#loading{
	margin-top: 30px;
}

/*Flat button style*/
.flatBtn {
	margin: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #3fb8e8;
	box-shadow: 0px 3px 0px 0px #3293ba;
}
.flatBtn:active {
	padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #3293ba;
}
.flatBtn, .flatBtn:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.working, .working:active{
	opacity: 0.5 !important;
	box-shadow: 0px 3px 0px 0px #3293ba !important;
	padding: 14px 26px !important;
}
/* End flat button style*/

.fa{
	margin-right: 15px;
	color:#109fd9;
}

div.screen {
	height: 100%; width: 100%;
	position: absolute;
	overflow: hidden;
	position: relative;
}

/*	Content */
div.menu {
	position: absolute;
	height: 100%; width: 100%;
	background: url('../img/blur.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.menu ul { 
	width: 600px;
	list-style: none; 
	/*margin: 95px 0px 0px 45px;*/
	margin: 32px 0 0 30px;
	height: 206px;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
div.menu li {
	/*font-family: 'HelveticaNeue-UltraLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;*/
	font-weight: 200;
	font-size: 19px;
	line-height: 19px;
	/*margin-bottom: 28px;*/
	margin-bottom: 20px;

	-webkit-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-moz-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-ms-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-o-transition: all 400ms ease-in-out, opacity 1000ms ease;
	transition: all 400ms ease-in-out, opacity 1000ms ease;
	-webkit-transform: translate3d(-150px, 0px, 0px) scale(0.2);
	opacity: 0;
}
div.menu li.visible {
	-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	opacity: 1;
}
div.menu li a {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

div.menu li a i{
	width: 30px;
	text-align: center;
}

div.menu li a span{
	margin-left: 20px;
}

li.active i.fa{
	/*color: #58B1FC; !important;*/
	color: #FFFFFF; !important;
	
}

.ulMenu .fa{
	margin-right: 0 !important;
}

div.content {
	position: absolute;
	top: 0px; left: 0px;
	height: 100%; width: 100%;
	background: #fff ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;


}
div.content.inactive {
	cursor: pointer;
	-webkit-transform: translate3d(160px, 0px, 0px) scale(0.7);
	-moz-transform: translate3d(160px, 0px, 0px) scale(0.7);
	-ms-transform: translate3d(160px, 0px, 0px) scale(0.7);
	transform: translate3d(160px, 0px, 0px) scale(0.7);
}


/*My Style Khattab*/
.activenavi{
		/*background-color:#324f5b; #D2D2D2*/
		background-color: #109fd9; 
		padding-top:13px;
		padding-bottom:10px;
		/*padding-right:4px;
		padding-left:4px;*/
	}
.clear{
	clear:both;
	}
.edit-profile{
	color:#000;
	
	}
.profile{
	margin:5px;
	width: 250px !important;
	}
.profile_img{
		height:120px;
		width:120px;
	}
.profile_span{
		text-align:left;
		margin:5px;
		font:Tahoma, Geneva, sans-serif;
		color:#FFF;
	}
.profile_data{
		text-align:left;
		margin:2px;
		width:110px;
		font-size:12px;
		line-height:14px;
		color:#FFF;
	}
.edit-icons-friend{
	width:10%;
	}
.edit-icons-fam{
	width:15%;
	}
.edit-icons-bus{
	width:15%;
	}
.big-box{
	margin-top:10px;
	margin-right:1px;
	margin-left:1px;
	width:100%;
	height:155px;
	background-color:#FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	}
.small-box{
	margin-top:3px;
	margin-right:1px;
	margin-left:1px;
	width:100%;
	height:155px;
	background-color:#FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	}
.small-box-icons{
	margin-top:-15px;
	text-align:center;
	height:25px;
	width:25px;
	margin-left:5px;
	margin-right:5px;
	}
.small-box-search{
		float:left;
		margin-top:15px;
		margin-left:25px;
		font:Tahoma, Geneva, sans-serif;
		font-size:14px;
		font-style:italic;
		font-weight:bold;
		color:#666;
	}
.search-span{
	  border-bottom: solid 1px #0365F8;
	  border-left: solid 1px #0365F8;
	  margin: 5px;
	  border-right: solid 1px #0365F8;
	  overflow: visible;
	  max-height: 0.5em;
	  display: inherit;
	  padding: 2px;
	  text-align:center;
	  width:100%;
	}
.search-input{
		width:100%;
		line-height:1em;
		outline: none;
		border: none; 
		text-align:center;
		background: transparent; 
		display: inline-block; 
		position: relative; bottom: 1.2em;
		margin-right:10px;
		
	}
.outer-logo{	
    width:100%;
	padding-top:4px;
	}
.inner-logo{
	display: table;
    margin: 0 auto;
	
	}
.contacts-comp{
	margin-top:5px;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:5px;
	height:auto;
	width:auto;
	background-color:#D7D7D7;

	padding:10px;
	font-size:12px;
	}	
.contacts-div{
	margin-top:1px;
	margin-right:0px;
	margin-left:0px;
	margin-bottom:5px;
	min-height:40px;
	width:100%;
	height:auto;
	background-color:#FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	padding:10px;
	font-size:12px;
	
	}
.contacts-div >span{	
	margin:5px;
	line-height:15px;
}

.contacts-div > div> img{
		
	
	}
.contact-img{
		margin-right: 10px;
		width: 40%;
       /* border-left: 5px solid #231f20;*/
        display: block;            
		float:left;
	}
.action-icons{
		margin-top:9px;
	}
.filtration-icons{
	line-height:30px;
	height:30px;
	margin-left:5px;
	margin-right:5px;
	}
.search-icon{
		float:right;
		margin-top:15px;
		margin-right:25px;
		width:25px;
		height:25px;
	}
.big-box-profile{
	margin-top:30px;
	margin-right:5px;
	margin-left:5px;
	height:auto;
	background-color:#FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	padding:10px;
	}
.small-box-profile{
	margin-top:30px;
	margin-right:5px;
	margin-left:5px;
	margin-bottom:30px;
	height:auto;
	background-color:#FFFFFF;
	box-shadow: 2px 2px 2px #888888;
	padding:10px;
	}
.input-icons{
	text-align:center !important;
	}
/*General rules*/
.form3 input {
    line-height:18px;
}
/*Text, email & tel input fields*/
.form3 input[type=text],
.form3 input[type=password],
.form3 input[type=email],
.form3 input[type=tel] {
    width:100%;
    margin-bottom:8px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}
.form3 > textarea{
    width:100%;
    margin-bottom:8px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC;
}

/*Just the tel field*/
.form3 input[type=tel] {
    width:150px;
}
/*The Submit Button */
.form3 input[type=button] {
    margin-top:5px;
    margin-left:60px;
    padding:2px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #06C;
    background-color:#09F;
    color:#fff;
    font-weight:bold;
}
/* Notifications*/
.notify{
		width:100%;
		height:auto;
		padding:2px;
		margin:4px;
	}
.notify-user{
		background-color:#FFF;
		border-radius:5px;
		width:100%
		color:#000;
		
	}
.notify >span{
		float:left;
		font-size:12px;
		font-weight:bold;
		margin:3px;
	}
.notify >img{
		float:left;	
		margin:3px;
		border-radius:5px;
	}
.notify >p{
		font-size:9px;
	}
.notify:hover{
		background-color:#D7D7D7;
	}
.notify-user > i{
		float:right;
		margin:3px;
	}
.box-notify{
		text-align:center !important;
		margin:3px;
		font-size:12px;
	}
.box-notify textarea{
		border:0px;
		border-radius:4px;
		width:70%;
		padding:4px;
	}
.box-notify input[type=text]{
		border:0px;
		border-radius:4px;
		width:70%;
		padding:4px;
	}
/* Notifications Unread */
.notify-unread{
		background-color:#abd7e2;
		width:100%;
		height:auto;
		padding:2px;
		margin:4px;
}
.notify-unread >span{
		float:left;
		font-size:12px;
		font-weight:bold;
		margin:3px;
	}
.notify-unread >img{
		float:left;	
		margin:3px;
		border-radius:5px;
	}
.notify-unread >p{
		font-size:9px;
	}
.search-icons-div{
		float:none;
		text-align:center;
	}
.acc-form{
	width:100%;
	height:auto;
	margin:5px;
	}
.Btn-acc {
		font-size:14px;
		margin:5px;
		color:#FFF;
		padding: 2px;
		border:none !important;
		border-radius:2px;
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
		background-color: #3fb8e8;

	}
.Btn-ign {
		font-size:14px;
		margin:5px;
		color:#FFF;
		padding: 2px;
		border:none !important;
		border-radius:2px;
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
		background-color: #900000;

	}
/* Search inputs*/
#searchForm{
	/* The search form. */
	

	position:relative;

	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}

fieldset{
	border:none;
}

#s{
	/* The search text box. */	
	border:none;
	color:#888888;
	background:url("imgs/srch/searchBox.png") no-repeat;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	text-shadow:1px 1px 0 white;
	width:80% !important;
}
/* The submit button */
#submitButton{
	background:url('imgs/srch/buttons.png') no-repeat;
	width:70px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

/* Quick Bond*/
.form-div{
		
		margin-top:15px;
		padding:0px;
	}

.form-row{
	margin:5px;
	text-align:center !important;
	}
.form-row [type=text] {
			display: inline-block;
			border-width: 1px 1px 1px 1px; 
			border-radius:5px;
			border-color: #2BABE1;
			vertical-align: middle;
			float: left;
			clear: left;
			text-align: left;
			margin:3px;
			width:auto;
			line-height:12px;
}
.form-row [type=text]:focus {
			
			border-width: 1px 1px 1px 1px; 
			border-radius:5px;
			border-color:#3F3;
			vertical-align: middle;
			display: inline-block;
  			float: left;
}
.form-row [type=submit]{
	
	background-color: #2BABE1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
	margin:5px;
	padding:2px;
			
}
.form-row > label{
			font-size:12px;
			display: inline-block;
			float: left;
			clear: both;
			text-align: right;
			margin:3px;

}

.form-row > textarea{
	width: auto;
	height: 60%;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	vertical-align: middle;
	display: inline-block;
	
}
.search-page{
		padding:5px;
		margin:5px;
	}
.search-page > label{
			font-size:12px;
			display: inline-block;
			float: left;
			clear: right;
			text-align: right;
			margin:3px;

}
.search-page [type=text] {
			display: inline-block;
  			float: none;
			border-width: 1px 1px 1px 1px; 
			border-radius:5px;
			border-color: #2BABE1;
			vertical-align: middle;
}
.search-page [type=text]:focus {
			
			border-width: 1px 1px 1px 1px; 
			border-radius:5px;
			border-color:#3F3;
			vertical-align:middle;
			display: inline-block;
  			
}
.search-page [type=submit]{
	background-color: #2BABE1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    border:none;
	padding:2px;
}
.search-page > label{
			font-size:12px;
			display: inline-block;
			float: left;
			clear: left;
			text-align: left;
			margin:3px;
			width:50px;
}
/*Profile Page*/
.prof-i{
		float:left;
	}
.prof-d{
			width:100%;	
	}
.prof-rel{
		
		float:right;
		height:100%;
		margin-bottom:15px;
		margin-top:-10px;
		margin-right:3px;
	}
.prof-rel img{
	float:left;	
	line-height:30px;
	height:25px;
	margin-left:5px;

	}
.prof-menu ul li i{
		margin:4px;
		
	}
	
.prof-menu >ul > li{
		margin:4px;
		list-style-type:none;
	}
.prof-id > span{
		line-height: 14px;
		font-size: 16px;
		font-weight:900;
		color: #ce3474;
	}
.prof-id > p{
		font-size:14px;
		font-family:Verdana, Geneva, sans-serif;
		font-style:italic;
		line-height:14px;
	}
.footer{
	/*padding:3px;
	position: absolute;
	background:#FFFFFF;
	display:inline-block;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
	z-index:99999 !important;
	max-height:40px;*/
	background:#FFF;
	position: absolute;
	display:inline-block;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
	z-index:99999 !important;
	padding:5px 0px 0px 0px;
	}

/*management team*/
.member-conf{
		width:100%;
		border-radius:5px;
		max-height:60px;
	}
	
.blue{
	background:#D3D3D3;
	}

.onselect-company{
		//position: absolute;
		width:100%;
		border-radius:5px;
		max-height:105px;
		min-height:105px;
		background:#87CEEB;
		z-index:2;
		opacity:0.6;
		text-align:center !important;
	}

.onselect{
		position: absolute;
		width:95.5%;
		border-radius:5px;
		max-height:105px;
		min-height:105px;
		background:#0F3;
		z-index:2;
		opacity:0.6;
		text-align:center !important;
		font-size:18px;
		font-weight:600;
	}
.onselect p{
		background:#FFF;
	}
.onselect i{
		color:#FFF;
		z-index:3;
		font-size:36px;
		
	}
	
.do-share{
	text-align:center !important; 
	color:#FFF;
	font-size:36px;
	}
.do-share i{
	color:#FFF;
	}
.member{		
		width:100%;
		border-radius:5px;
		max-height:105px;
		min-height:105px;
		/*margin-bottom:4px;*/
	}
.member > i{
		color:#109fd9;
	}
.left {
			width: 48%;
	}
.right{
			width:50%;
			float:left;
			line-height:12px;
	}
.photo-small{
			margin-right: 10px;
			width:135px;
			 max-height:105px;
			 height:105px;
			 
          /* border-left: 5px solid #231f20;*/
            display: block;
            margin-bottom: 0px;
			float:left;
			border-bottom-left-radius:5px;
			border-top-left-radius:5px;
	}
.photo{
			margin-right: 10px;
			width: 80%;
           /* border-left: 5px solid #231f20;*/
            display: block;
            margin-bottom: 0px;
			float:left;
			border-bottom-left-radius:5px;
			border-top-left-radius:5px;
		}
.flag{
		position:absolute !important;
		z-index:1;
		float:left !important;
		margin:5px;
		height:3%;
		
	}
.test{
			white-space: nowrap; 			
			overflow: hidden;
		    text-overflow: ellipsis; 

}	
.member > div >strong {
			display: block;
			
			color:#266c89;
			font-weight: bold;
			font-size:18px;
			margin-bottom: 2px;
            margin-top: 10px;
            white-space: nowrap; 		
			overflow: hidden;
		    text-overflow: ellipsis; 
			
		}

.member > div >p{
			margin-bottom: 3px;
			white-space: nowrap; 
			
			overflow: hidden;
		    text-overflow: ellipsis; 
			
		}
.member > div >p > a{
			color:#29aae2;
			margin-top: 10px;
             
		}
.member > div > a{
			color:#29aae2;
			margin-top: 10px;
		}

.center{
		text-align:center !important;
	}
/* Home Page Search */
#searchthis{
		text-align:center !important;
		padding-top:10px;
		}
#namanyay-search-btn {
			text-align:left;
			background:#FFFFFF;
			color:#000;
			font: 'trebuchet ms', trebuchet;
			padding:10px 7px;
			border-radius:0 10px 10px 0;
			-moz-border-radius:0 10px 10px 0;
			-webkit-border-radius:0 10px 10px 0;
			-o-border-radius:0 10px 10px 0;
			
			border:thin #324f5b solid;
			font-weight:bold;
			width:55px;
	}
#namanyay-search-box {
			background: #eee;
			padding:10px;
			border-radius:10px 0 0 10px;
			-moz-border-radius:10px 0 0 10px;
			-webkit-border-radius:10px 0 0 10px;
			-o-border-radius:10px 0 0 10px;
			border:.5 #324f5b;
			width:140px;
			z-index:1 !important;
} 
/* ==============================*/
/* Styles for Contact Page */
/* ==============================*/
.form-element {
      margin-bottom: 10px; 
}
.form-element >	label {
      font-size: 14px;
	  display: block;
	  text-align:left;
	  clear:left !important;
    }
.form-element > input{
      background: #FFF !important;
      font-size: 14px;
	  border-radius: 4px;
	  /*box-shadow: 0 0 0 10px rgba(255,255,255,.25);*/
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	  width:100%;
	}
.form-element > textarea {
      background: #FFF !important;
      margin: 0.5em 0;
      font-size: 14px;
      box-shadow: 0 0 0 10px rgba(255,255,255,.25);
	  border-radius: 1px;
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	  width:100%;
    }
.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}
.form-element > input.invalid, textarea.invalid{
      border-color: red;
    }
.address {
  height: 180px;
}
.address > p {
    margin-bottom: 8px;
  }
.white-content-box {
    padding: 30px;
    background: #FFF;;
}
 /* Button Styles */
.button {
      display: inline-block;
      padding: 6px 10px;
      border: 0px solid #CCC !important;
      margin-bottom: 4px;
      }
      
.full-width {
	display: block;
	text-align: center;
}
.button1 {
     .gradient(@mainColor, darken(#FFF, 5%));
      color: #003a69;
      border: 1px solid @grayColor;
    }
.button1 :hover{
      .gradient(darken(#FFF, 5%), #FFF);
      border: 1px solid @grayColor;
    }
.button2{
      .gradient(lighten(@themeColor, 10%), @themeColor);
      color: #FFF !important;
      border: 1px solid #003a69;
    }
    .button2:hover{
      .gradient(@themeColor, lighten(#003a69, 10%));
 }
    
.button3{
		color: #FFF !important;
		border: 1px solid #000;	  
		background: -webkit-linear-gradient(#333, #FFFFFF); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#333, #FFFFFF); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#333, #FFFFFF); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#333, #FFFFFF); /* Standard syntax */
    }
    .button3:hover {
	
      .gradient(#000, lighten(#000, 30%));
    }
/*.call-icon{
		padding-top:5px; 
		margin-right:7px; 
		float:right; 
		width:20px;
	}
	*/
/* Call icon Styling in Company View Branches Section */
.call-icon-branch{
		
		margin-right:7px; 
		float:right; 
		width:20px;
	}
.prof-navigation{
	text-align:center;
	font-size:13px;
	background:#FFF;
	padding:5px;
	}
.prof-navigation a{
	margin:6px;
	color:#29aae2;
	font-weight:bold;
}

/* Copmany Profile Page*/
.company-prof{
		width:48%;
	}
.company-right{
			width: 60%;
			float:right;
	}
.company-social{
		margin:5px;
		line-height:20px;
		width:100%;
		float:none !important;
	}
.company-photo{
			
			width: 70%;
           /* border-left: 5px solid #231f20;*/
            display: block;
            margin-bottom: 0px;
			float:left;
			border-bottom-left-radius:5px;
			border-top-left-radius:5px;
		}
.add-bond{
		float:right !important;
    	height: 30px;
		cursor:pointer;
		margin:4px;
	}
.blue{
		margin-top:10px;
		color:#FFF;
		background:#fff;
		text-align:center !important;
	}
.mybutton{
	margin:10px;
    padding:2px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #109fd9;
    background-color:#09F;
    color:#fff;
    font-weight:bold;
	font-size:24px;
	width:180px;
	height:40px;
	text-align:center !important;
	}
/* New Search */

#search {
		text-align:center !important;
		padding-top:10px;
}

#search input[type="text"] {
    /*background: url('imgs/icons/search-icon.png') no-repeat 2px 2px #077eaf;*/
     background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 200px;
    }
input[type='text'], input[type='email'], input[type='search'],
input[type='password'], textarea
{
        -webkit-user-select: text !important;
		-moz-user-select: text !important;
		-ms-user-select: text !important;
}	
#wrapper{
	position: relative;
	overflow: hidden;
}	
/* New Scroler styling*/	
.scroller{
	position: absolute !important;
	padding-bottom:20px;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
/*	-webkit-user-select: none;*/
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-input:text;
	-webkit-text-size-adjust:text ;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.scroller > ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
.scroller >li{
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}

/*Clock Styling */
/* Styling it all now! */

@font-face {
	font-family: 'digi';
  	src: url("../font/digital/DS-DIGII.TTF");
}
.clock {
	margin-right:5px;
	font-size: 1.3em;
	color: #707070;
	float:right;
	font-family: 'digi';
}
.clock span{
	font-family:'Tahoma';
	font-size: 0.8em;
	color:#266c89;
	}
.clock-comp {
	margin-right:3px;
	font-size: 1.3em;
	color: #707070;
	float:right;
	text-align:center;
	font-family: 'digi';
}
ul li{
		list-style:none !important;
	}
.call-icons{
		width:15px;
		height:15px;
		margin-right:4px;
		padding-bottom:4px;
	}
.alph{
	
	}
.alph >a{
	float:right;
	background:#999;
	clear:both;
	}
/* Branches Styling in Company View */
.branch{
	background:#c0e2e6;
	margin:3px;
	padding:5px;
	border-radius:4px;
	}
.span-indent{
		margin-left:10px;
	}
/* Table Call log*/
.table-div{
		width:100%;
		border-radius:5px;
		height:auto !important;
	}
table{
  border-spacing: 0.5rem;
  border-collapse: collapse;
  border-radius:5px;
}
table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table{
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	/*margin:20px;
	border:#ccc 1px solid;*/
	width:100%;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th{
	/*padding:21px 25px 22px 25px;*/
	padding:12px 17px 12px 4px;
	
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left:20px;
}
table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
/* New Buttons Styling for Positioning some buttons*/
/*Flat button style*/
.flatBtn2 {
	
	margin: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #3fb8e8;
	box-shadow: 0px 3px 0px 0px #3293ba;
	/*new rounded btn*/
	background: url("search-white.png") no-repeat scroll 10px 6px #FCFCFC;
	border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: #3fb8e8;
	color: #fff;
	
	/*new rounded btn*/
	
}
.flatBtn2:active {
	padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #3293ba;
}
.flatBtn2, .flatBtn2:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}
/* Tags on Profile Page */
.tags{
	padding:10px;
	line-height:20px;
	}
.tags-l2 >a{
	margin:5px;
	background:#EEE;
	border-radius:4px;
	padding:3px;
	font-style:italic;
	line-height:28px;
	}
.tags-l2 >span{
	margin:7px;
	padding:6px;
	}
.tag-txt{
	background: url("search-white.png") no-repeat scroll 10px 6px #FCFCFC;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    color: #109fd9;
    font: bold 12px Arial,Helvetica,Sans-serif;
    /*padding: 6px 15px 6px 35px;*/
	padding: 2px 3px 6px 5px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.7s ease 0s;
	}
.tag-btn{
	background: url("search-white.png") no-repeat scroll 10px 6px #FCFCFC;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	color: #109fd9;
	padding: 2px;
    font: bold 14px Arial,Helvetica,Sans-serif;
	
	}

.invite-reject-btn{
	background: url("search-white.png") no-repeat scroll 10px 6px red;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	color: #fff;
	padding: 2px;
    font: bold 14px Arial,Helvetica,Sans-serif;
	
	}

.invite-accept-btn{
	background: url("search-white.png") no-repeat scroll 10px 6px green;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	color: #fff;
	padding: 2px;
    font: bold 14px Arial,Helvetica,Sans-serif;
	
	}

/* Dialing Page */
.dial{
		text-align:center !important;
		margin: 5px;
    	padding: 5px;
	}
.dial span{	
	width:100px;
	background:#06C;
	font-size:23px;
	text-align:left;
}
.dial .no{
	width:100px;
	background:#06C;
	font-size:12px;
	text-align:left;
	padding:4px;
	}
.dial a:hover{
		background: url(imgs/transpearent.png) no-repeat center;
		box-shadow: 2px 2px 2px #3293ba;
			/*box-shadow: 0px 3px 0px 0px #3293ba;
		   border-radius:100px;*/
		
		width:50px;
		height:50px;
		padding:10px;
		margin:20px;
		font-size:25px;
		font-weight:bold;
		color:#FFF;
		text-align:center !important;
	}
/* Dial Page Tabs */
.dial-tabs{
	text-align:center;
	font-size:13px;
	background:#FFF;
	padding:5px;
	}
.dial-tabs a{
	margin:6px;
	color:#29aae2;
	font-weight:bold;
}
.hide{
	display:none;
	}
.selected{
		background:#000;
		box-shadow: 2px 2px 2px #3293ba;
		/*box-shadow: 0px 3px 0px 0px #3293ba;
		   border-radius:100px;
		*/
		width:50px;
		height:50px;
		padding:10px;
		margin:20px;
		font-size:25px;
		font-weight:bold;
		color:#FFF;
		text-align:center !important;
	}
.invite-in > input{
	width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: scroll;
	display: inline-block;
	float:left !important;
	}
.invite-in label{
	display:inline-block;
    padding-left: 5px;
    text-indent: 5px;
	float:left !important;
	}
.login{
		width:100%;
		height:100%;
		text-align:center !important;
		margin-right:15px;
	}
.form-element {
      margin-bottom: 10px; 
}
.login > label{
      font-size: 16px;
	  display:inline-block;
	  text-align:left;
	  clear:left !important;
	  color:#FFF;
	  font-weight:200 !important;
	  width:85px;
    }
.login > input{
      background: #FFF !important;
      font-size: 14px;
	  border-radius: 4px;
	  /*box-shadow: 0 0 0 10px rgba(255,255,255,.25);*/
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	  width:60%;
	  clear:both !important;
	  float:inherit;
	}
.login > textarea {
      background: #FFF !important;
      margin: 0.5em 0;
      font-size: 14px;
      box-shadow: 0 0 0 10px rgba(255,255,255,.25);
	  border-radius: 1px;
	  display: inline-block;
	  padding: 5px;
	  margin: 5px;
	  width:100%;
    }
.emphasize-light {
  box-shadow: 0 0 0 10px rgba(255,255,255,.25);
}
.form-element > input.invalid, textarea.invalid{
      border-color: red;
    }
.address {
  height: 180px;
}
.address > p {
    margin-bottom: 8px;
  }
.white-content-box {
    padding: 30px;
    background: #FFF;;
}
/*registration and login Btn*/

.regBtn{
	width:50%;
	margin: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #00CE00;
	box-shadow: 0px 5px 0px 0px #3293ba;

}
.regBtn:active {
	padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #3293ba;
}
.regBtn, .regBtn:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}
.logbtn{
	width:50%;
	margin: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #3fb8e8;
	box-shadow: 0px 0px 0px 0px #3293ba;
}
.logbtn:active {
	padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #3293ba;
}
.logbtn, .logbtn:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

/* General styles for all menus */
.cbp-spmenu {
	background: #47a3da;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}
/*
.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}
*/
.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}
/*
.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}*/

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
	width:95%;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	/*left: 240px;*/
	left: 90%;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/***** Dial pad Styling  *****/
ol, ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0
}
caption, th, td {
text-align: left;
font-weight: normal;
vertical-align: middle
}
q, blockquote {
quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
content: "";
content: none
}
a img {
border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
display: block
}
html, button, input, select, textarea {
color: #222
}
html {
font-size: 1em;
line-height: 1.4
}
::-moz-selection {
background:#b3d4fc;
text-shadow:none
}
::selection {
background: #b3d4fc;
text-shadow: none
}
hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0
}
audio, canvas, img, video {
vertical-align: middle
}
fieldset {
border: 0;
margin: 0;
padding: 0
}
textarea {
resize: vertical
}
.browsehappy {
margin: 0.2em 0;
background: #ccc;
color: #000;
padding: 0.2em 0
}



	
/* New Registration*/

#slick-login {
	width:100%;
	/*width: 220px;
	height: 155px;
	position: absolute;*/
	margin-top:10px;
	margin-right: 5px;
	

	-webkit-animation: login 1s ease-in-out;
	-moz-animation: login 1s ease-in-out;
	-ms-animation: login 1s ease-in-out;
	-o-animation: login 1s ease-in-out;
	animation: login 1s ease-in-out;
}

#slick-login label {
	display: none;
}

.placeholder {
    color: #444;
}

#slick-login input[type="text"],#slick-login input[type="password"],#slick-login input[type="number"] {
	width: 90%;
	height: 30px;
	positon: relative;
	margin: 11px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus,#slick-login input[type="number"]:focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
	margin-top: 0px;
}

#slick-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-color: #5466da;
	background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login input[type="submit"]:hover {
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}

#slick-login input[type="submit"]:active {
	background-color: #7588e1;
	background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}
#slick-login textarea{
	width: 90%;
	
	positon: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#slick-login select{
width: 90%;
	
	positon: relative;
	margin: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login2 input[type="text"],#slick-login2 input[type="password"],#slick-login2 input[type="number"] {
	width: 62%;
	height: 28px;
	positon: relative;
	margin-top: 11px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 5px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

#slick-login2 textarea{
	width: 90%;
	
	positon: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

/*Side Buttons Style for Groups,events, communities*/
.popout {
		   /* position: fixed;                 fix the popout to the left side of the screen */
			top: 15%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 80px;
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute; 
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			
		}
		.popout:active{
			/* position: fixed;                 fix the popout to the left side of the screen */
			top: 15%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 90px;
			height:30px;
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute; 
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			}
		.events {
		   /* position: fixed;                 fix the popout to the left side of the screen */
			top: 30%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 80px;
			
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute; 
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
.events:active{
			/* position: fixed; fix the popout to the left side of the screen */
			top: 30%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 90px;
			height:30px;
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute; 
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			}



@media only screen 
and (max-width : 240px){
	

.expandable-panel-heading {
    width:100%;
    cursor:pointer;
    clear:both;
    background-color:#D2E7FC;
    position:relative;
}


	
	
.dialPad .number {
position: relative;
z-index: 2;
padding: 5px 15px;
color: #FFF;
font-weight: 300;
font-size: 30px;
/*background-color:transparent;*/
background:#C9F;
height: 20px;
}
.dialPad .dials {
margin: -1px 0 0 -1px;
/*background: #1d1918;*/
background-color:transparent !important;
cursor: pointer;
text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
content: "\0020";
display: block;
height: 0;
overflow: hidden
}
.dialPad .dials:after {
clear: both
}
.dialPad .dials .digits {
float: left;
width: 33.33%;

}
.dialPad .dials .digits p {

  background-color: rgba(0, 0, 0, 0);
    border-color: #336699;
    border-radius: 50px;
    border-style: none;
    border-width: 1px;
    font-weight: 600;
    padding: 10px 25px;
    width: 20px;

}
.dialPad .dials .digits p strong {
font-size: 50px;
margin-right: 5px;
color: #fff
}
.dialPad .dials .digits:active {
background: #00caf2;
border-top-color: #b2f2ff;
border-radius:55px;
}
.compact .dials .digits p {
/*padding: 15px 15px;*/

height:auto !important;
}
.compact .dials .digits p strong {
font-size: 30px;
margin-left: 5px;
}
.compact .dials .digits p sup {
text-transform: uppercase;
color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
background: #0c3;
}
.ir {
background-color: transparent;
border: 0;
overflow: hidden;
*text-indent:-9999px
}
.ir:before {
content: "";
display: block;
width: 0;
height: 150%
}
.hidden {
display: none !important;
visibility: hidden
}
.visuallyhidden {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
clip: auto;
height: auto;
margin: 0;
overflow: visible;
position: static;
width: auto
}
.invisible {
visibility: hidden
}
.clearfix:before, .clearfix:after {
content: " ";
display: table
}
.clearfix:after {
clear: both
}
.clearfix {
*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		/*border-radius:3px;*/
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.numbers-window i{
	 float:right;
	 z-index:-99999;
	 margin:5px;
	}
.digits > p > strong > i{
		color:#FFF;
	}	

}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px){
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 0px 5px 10px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 50px;
		background-color:#FF0;
		height: 35px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 30px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
	padding:0px 25px;	
}
.compact .dials .digits p strong {
		font-size:46px;
		margin-left: 5px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}

.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}

.digits > p > i{
		color:#FFF;
		font-size:40px;
		padding: 10px 0px 0px 0px;
	}		
}

@media only screen 
and (max-width : 320px)
and (orientation: landscape) {
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 5px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 30px;
		background-color:#F93;
		height: 20px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 50px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
		
}
.compact .dials .digits p strong {
		font-size: 50px;
		margin-left: 5px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}
.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		*text-indent:-9999px
}
.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 150%
}
.hidden {
		display: none !important;
		visibility: hidden
}
.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto
}
.invisible {
		visibility: hidden
}
.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.numbers-window i{
		float:right;
		z-index:-99999;
		margin:5px;
	}
.digits > p > strong > i{
		color:#FFF;
	}	
}


@media only screen 
and (min-width : 320px) 
and (max-width : 480px)
and (orientation: landscape) {
	
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 0px 5px 10px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 50px;
		background-color:#F00;
		height: 35px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 30px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
	padding:0px 25px;	
}
.compact .dials .digits p strong {
		font-size:46px;
		margin-left: 5px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}

.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.digits > p > i{
		color:#FFF;
		font-size:40px;
		padding: 10px 5px 5px 5px;
	}		

}


@media only screen
and (max-width: 720px){
	
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 0px 545px 10px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 50px;
		background-color:#0C0;
		height: 35px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 30px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
	padding:0px 55px;	
}
.compact .dials .digits p strong {
		font-size:66px;
		margin-left: 5px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}

.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.digits > p > i{
		color:#FFF;
		font-size:40px;
		padding: 10px 5px 5px 5px;
	}		

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 10px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 80px;
		background-color:#600;
		height: 75px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 50px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
		
}
.compact .dials .digits p strong {
		font-size: 80px;
		margin-left: 5px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}
.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		*text-indent:-9999px
}
.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 150%
}
.hidden {
		display: none !important;
		visibility: hidden
}
.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto
}
.invisible {
		visibility: hidden
}
.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.numbers-window i{
		float:right;
		z-index:-99999;
		margin:5px;
	}
.digits > p > i{
		color:#FFF;
		font-size:40px;
		padding: 10px 5px 5px 5px;
	}		
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 0px 35px;
		color: #FFF;
		font-weight: 300;
		font-size: 60px;
		background-color:#C99;
		height: 50px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 20px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 50px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
		padding: 1px 50px;
}
.compact .dials .digits p strong {
		font-size: 60px;
		margin-left: 15px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}
.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		*text-indent:-9999px
}
.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 150%
}
.hidden {
		display: none !important;
		visibility: hidden
}
.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto
}
.invisible {
		visibility: hidden
}
.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:50px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		font-size:14px;
		padding: 0px 10px;
	`}
.numbers-window i{
		float:right;
		z-index:-99999;
		margin:5px;
	}
.digits > p > i{
		color:#FFF;
		font-size:40px;
		padding: 10px 0px 0px 0px;
	}	
}

@media only screen
and (max-width: 1080px){
	
/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 0px 5px 10px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 50px;
		background-color:transparent;
		height: 35px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 30px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
	padding:0px 25px;	
}
.compact .dials .digits p strong {
		font-size:46px;
		margin-left: 5px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}

.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}

.digits > p > i{
		color:#FFF;
		font-size:40px;
		padding: 10px 0px 0px 0px;
	}		

}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

/* Styles */
.dialPad .number {
		position: relative;
		z-index: 2;
		padding: 5px 15px;
		color: #FFF;
		font-weight: 300;
		font-size: 50px;
		background-color:#999;
		height: 20px;
}
.dialPad .dials {
		margin: -1px 0 0 -1px;
		background-color:transparent !important;
		cursor: pointer;
		text-align: center;
}
.dialPad .dials:before, .dialPad .dials:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden
}
.dialPad .dials:after {
		clear: both
}
.dialPad .dials .digits {
		float: left;
		width: 33.33%;

}
.dialPad .dials .digits p {
		background-color: rgba(0, 0, 0, 0);
		border-color: #336699;
		border-radius: 50px;
		border-style: none;
		border-width: 1px;
		font-weight: 600;
		padding: 5px 25px;
		width: 20px;

}
.dialPad .dials .digits p strong {
		font-size: 50px;
		margin-right: 5px;
		color: #fff	
}
.dialPad .dials .digits:active {
		background: #00caf2;
		border-top-color: #b2f2ff;
		border-radius:55px;
}
.compact .dials .digits p {
		padding: 2px 75px;	
}
.compact .dials .digits p strong {
		font-size: 70px;
		margin-left: 15px;
}
.compact .dials .digits p sup {
		text-transform: uppercase;
		color: #c1c1c1
}
.compact .dials .pad-action {
		border-left:none;
		border-right:none;
		border-top:none;
		border-radius:55px;
}
.compact .dials .pad-action:active {
		background: #0c3;
}
.ir {
		background-color: transparent;
		border: 0;
		overflow: hidden;
		*text-indent:-9999px
}
.ir:before {
		content: "";
		display: block;
		width: 0;
		height: 150%
}
.hidden {
		display: none !important;
		visibility: hidden
}
.visuallyhidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
		clip: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		position: static;
		width: auto
}
.invisible {
		visibility: hidden
}
.clearfix:before, .clearfix:after {
		content: " ";
		display: table
}
.clearfix:after {
		clear: both
}
.clearfix {
		*zoom:1
}
.form-control{
		width:100%;
		height:40px;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.numbers-window i{
		float:right;
		z-index:-99999;
		margin:5px;
	}
.digits > p > strong > i{
		color:#FFF;
	}	
}
/********event in home ********/
	.event-head{
						position: absolute;
						top: 8px;
						 right: 2px; 
						/* width: 35px; */
						height: auto;
						line-height: 30px;
						border-radius: 100px;
					/*	width: 50%;*/
					}
				  .event-head img{
						color:#FFF;
					  margin-top:-6px;
					  float:right;
					  margin-right: 1px;
					}

		.select-drop {
			text-align:center !important;
			margin-top:3px;
			background:#2babe1;
			width: 40%;
			padding: 5px;
			font-size: 12px;
			line-height: 1;
			border: 0;
			border-radius: 0;
			height: 25px;
			border-radius:4px;
			-webkit-appearance: none;
			color:#FFF;
		}

  .f-items{
            display:inline-block;
        }
        .f-items font{
            font-size:9px;
            color:#336699;
            display:list-item;
            list-style: none;
        }

		.popout {
		   /* position: fixed;                 fix the popout to the left side of the screen */
			top: 15%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 80px;
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute;
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);

		}
		.popout:active{
			/* position: fixed;                 fix the popout to the left side of the screen */
			top: 15%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 90px;
			height:30px;
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute;
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);

			}
		.events {
		   /* position: fixed;                 fix the popout to the left side of the screen */
			top: 30%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 80px;

			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute;
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
		}
		.events:active{
			/* position: fixed; fix the popout to the left side of the screen */
			top: 30%;
			left: -32px; /* use a negative margin to pull the icon area of the popout off the edge of the page */
			width: 90px;
			height:30px;
			border: 1px solid #47a3da;
			color: #FFFFFF;
			z-index:5;
			background-color:#47a3da;
			position: absolute;
			float:left;
			display: inline-block;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			}
/**************/

.event-control{
		width:90%;
		height:30px;
		/*border-radius:3px;*/
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:thin solid #0099ff !important;
		background-color:transparent !important;
		color:#FFF;
		padding: 0px 10px;
	`}
.event-button {
      display: inline-block;
      padding: 6px 10px;
      border: 0px solid #CCC !important;
      margin: 4px;
    }
.event-tag-button {
      padding: 6px 10px;
      border: 0px solid #CCC !important;
      margin: 4px;
    }
.name-tag{
	border-color:#003;
	border-radius:5px;
	width:100%;
	border:solid;
	min-height:66px;
	padding:5px;
	}
.tag-data{
	width:48%;
	display:inline-table;
	float:right !important;
	}
.tag-data > span{
	clear:both !important;
	}
.qr-tag{
	width: 48%;
	display:inline-table;
	float:left !important;
	}





.notify-bell{
	width: 187px; float: right; margin-left: 50px; margin-right: 12px; margin-top: 5px;
	}
	
.notify-bell i{
		color:#c1c1c1;
		font-size:25px;
	}

.notify-bell span{
	color: #fff;
	font-weight:bold;
	position: absolute;
	z-index: 1;
	float: right;
	width: 35px;
	margin-left: 69px;	
	}
	
.unread-bell {
		width: 187px; float: right; margin-left: 50px; margin-right: 12px; margin-top: 5px;
	}
.unread-bell i{
		//color:#199ff9;
		color:#256b89; 		
		font-size:25px;
	}
.unread-bell span{
	color: #fff;
	font-weight:bold;
	position: absolute;
	z-index: 1;
	float: right;
	width: 35px;
	margin-left: 69px;	
	}


.badge{
		position: absolute;
		display: inline-block;
		min-width: 10px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: 700;
		color: #fff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		background-color: #999;
		border-radius: 10px;
		margin-left: -18px;//29
		margin-top:-15px;
		
	}

.badge-bell{
		position: absolute;
		display: inline-block;
		min-width: 10px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: 700;
		color: #fff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		background-color: #999;
		border-radius: 10px;
		margin-left: -29px;//29
		margin-top:-10px;

	}

.bg-warning{
		//background: #FCB322;
		background: #C0C0C0;
	}
.bg-warning-bell{
		//background: #FCB322;
		background: #c82372;
	}

.alerts{
		margin-top: -40px;
		margin-right: -40px;
	}
.alerts i{
		font-size:20px;
	}


.com{
		float:right !important;
	}
	
.margins{
	margin: 10%;
	}
	
/*.loading-line{
		background-color:#7FBA01; 
		height:20px; 
		margin-top:33px;
}*/
.loading-line{
		background-color:#109fd9;
		padding: 5px;
		text-align: center;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		margin-top: 54px;
		width: 100%;
		margin-bottom: -57px;
	}

.call-icon{
		color:green;
		padding-top:1px; 
		margin-right:2px; 
		float:right; 
		width:25px;
	}

.add-icon{
		color:green;
		padding-top:5px; 
		margin-right:7px; 
		float:right; 
		width:23px;
	}
.bull{
		margin-top: 10px;
		float: right;
	}
	
.left-inner-addon_ {
    position: relative;
}

.left-inner-addon {
    position: absolute;
    vertical-align: middle;   
	padding-top:18px; 
    padding-left: 20px;
    pointer-events: none;
}

.left-inner-addon-mobile_ {
    position: relative;
}

.left-inner-addon-mobile {
    position: absolute;
    vertical-align: middle;
	padding-top:20px; 
    padding-left: 9px;
    pointer-events: none;
}

